<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Asistente de salud</title>
    <!-- REQUIRED STYLES -->
    <link href="~/css/wiseboard/css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- REQUIRED PLUGINS -->
    <link href="~/css/wiseboard/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/wiseboard/bootstrap-switch.min.css" rel="stylesheet" type="text/css">
    <!-- main.min.css - WISEBOARD CORE CSS -->
    <link href="~/css/wiseboard/main.min.css" rel="stylesheet" type="text/css">
    <!-- admin.min.css - ADMIN LAYOUT -->
    <link href="~/css/wiseboard/admin.min.css" rel="stylesheet" type="text/css">
    <!-- theme-default.min.css - DEFAULT THEME -->
    <link href="~/css/wiseboard/theme-default.min.css" rel="stylesheet" type="text/css">
    <script src="~/js/angular.min.js"></script>
    <script src="~/js/appAsistenteSalud.js"></script>
    <script src="https://unpkg.com/angular-ui-router@1.0.3/release/angular-ui-router.min.js"></script>
</head>
<body class="page-dashboard" ng-app="appAsistenteSalud">
    <!-- TOP NAVIGATION STARTS -->
    <nav class="navbar navbar-fixed-top navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <!--<img src="~/images/wiseboard/logo.svg" alt="logo">-->
                    <span style="color:#fff">Asistente de salud</span>
                </a>
                <button type="button" class="sidebar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div><!-- /.navbar-header -->


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-bell"></i>
                        <span class="label circle">4</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            You have 3 <a href="">notifications.</a>
                        </li><!-- /.dropdown-header -->

                        <li>
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 193px; height: 259px;">
                                <ul class="list-dropdown-content list-dropdown-notifications" style="overflow: hidden; width: 193px; height: 259px;">
                                    <li>
                                        <a href="" data-click="prevent">
                                            <div class="media">
                                                <div class="media-left">
                                                    <span class="label label-success circle">
                                                        <i class="fa fa-power-off"></i>
                                                    </span>
                                                </div>
                                                <div class="media-body">
                                                    <i class="pull-right">1 min</i> Servers restarted successfully.
                                                </div>
                                            </div><!-- /.media -->
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </li>
                    </ul><!-- /.dropdown-menu -->
                </li><!-- /.dropdown -->

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i>
                        <span class="label circle">3</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">
                            You have 3 new <a href="">messages.</a>
                        </li><!-- /.dropdown-header -->

                        <li>
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: 193px; height: 230px;">
                                <ul class="list-dropdown-content list-dropdown-messages" style="overflow: hidden; width: 193px; height: 230px;">
                                    <li>
                                        <a href="" data-click="prevent">
                                            <div class="media">
                                                <div class="media-left">
                                                    <img src="~/images/wiseboard/avatar3.png" alt="avatar" class="media-object img-circle">
                                                </div>
                                                <div class="media-body">
                                                    <h6 class="media-heading">
                                                        <i class="pull-right">1 min</i>
                                                        <strong class="text-primary">Nancy Allen</strong>
                                                    </h6>
                                                    <span class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                                </div>
                                            </div><!-- /.media -->
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                    </ul>
                </li><!-- /.dropdown -->



                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/images/wiseboard/profile-sm.png" alt="avatar" class="img-circle">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-profile">
                        <li class="dropdown-header">Account Details</li>
                        <li>
                            <div class="media">
                                <div class="media-left">
                                    <img src="~/images/wiseboard/profile-lg.png" alt="avatar" class="media-object img-circle">
                                </div>
                                <div class="media-body">
                                    <h5 class="media-heading">Sandra Baker</h5>
                                    <p>sandrabaker@gmail.com</p>
                                    <a href="" class="btn btn-primary btn-xs">View profile</a>
                                </div>
                            </div><!-- /.media -->
                        </li>

                        <li>
                            <a href="">
                                <i class="fa fa-paper-plane-o"></i> Inbox
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="">
                                <i class="fa fa-sign-out"></i> Sign Out
                            </a>
                        </li>
                    </ul>
                </li><!-- /.dropdown -->


            </ul><!-- /.navbar-nav -->
        </div>
    </nav>
    <!-- TOP NAVIGATION ENDS -->
    <!-- CONTENT WRAPPER STARTS ( INCLUDES LEFT SIDEBAR AND CONTENT PART OF THE PAGE ) -->
    <div class="content-wrapper">
        <!-- SIDEBAR STARTS -->

        <div class="sidebar" style="min-height: 0px;">
            <ul class="sidebar-nav">
                <!--add class dropdown for subitems in lists-->
                <li class=" open" ui-sref="despachar" ui-sref-active="active">
                    <a>

                        <span>Despachar receta</span>
                    </a>
                </li><!-- ITEM SIDEBAR END 1 -->
                <!--add class dropdown for subitems in lists-->
                <li class=" open" ui-sref="historial" ui-sref-active="active">
                    <a>

                        <span>Historial despacho</span>
                    </a>
                </li><!-- ITEM SIDEBAR END 2 -->
                <!--add class dropdown for subitems in lists-->
                <li class=" open" ui-sref="stock" ui-sref-active="active">
                    <a>

                        <span>Stock de farmacia</span>
                    </a>
                </li><!-- ITEM SIDEBAR END 3 -->
            </ul>
        </div>
        <!-- SIDEBAR ENDS -->
        <!-- CONTENT STARTS -->
        <div class="content">
            <div class="panel panel-default-light border-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        Atención Médica
                    </div><!-- /.panel-title -->
                </div><!-- /.panel-heading -->
                

                <div class="panel-body" style="padding:0px 20px 10px 20px;">
                    <div class="tab-content">
                        <div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group ">
                                        <!--"m-bottom-30" para poner margen vertical de 30px-->
                                        <div class="form-group col-sm-6">
                                            <label for="inputEmailExample2" class="control-label col-sm-4">Cod. de Apadrinado</label>
                                            <div class="col-sm-8" style="padding-bottom:5px;padding-right:0px;">
                                                <input type="text" class="form-control" placeholder="Digite el codigo" id="inputEmailExample2">
                                            </div>
                                            <div class="panel panel-default-light border-default col-sm-12" style="margin-right: 5px;">
                                                <div class="panel-heading">
                                                    <div class="panel-title">
                                                        Tabla Medicinas
                                                    </div><!-- /.panel-title -->
                                                </div><!-- /.panel-heading -->

                                                <div class="panel-body">
                                                    <table class="table table-striped" style="text-align:center;">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center;">Codigo</th>
                                                                <th style="text-align:center;">Items</th>
                                                                <th style="text-align:center;">Doctor</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td>101</td>
                                                                <td>Item 1</td>
                                                                <td>705565656</td>
                                                            </tr>
                                                            <tr>
                                                                <td>102</td>
                                                                <td>Item 2</td>
                                                                <td>705565656</td>
                                                            </tr>
                                                            <tr>
                                                                <td>103</td>
                                                                <td>Item 3</td>
                                                                <td>705565656</td>
                                                            </tr>
                                                            <tr>
                                                                <td>104</td>
                                                                <td>Item 4</td>
                                                                <td>705565656</td>
                                                            </tr>
                                                            <tr>
                                                                <td>105</td>
                                                                <td>Item 5</td>
                                                                <td>705565656</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.panel-body -->
                                            </div><!-- /.form-group TABLE 1-->
                                        </div><!-- /.form-group TABLE 1 and labels-->

                                        <div class="form-group col-sm-6">
                                            <div class="panel panel-default-light border-default col-sm-12" style="margin-left: 5px;">

                                                <div class="panel-heading">
                                                    <div class="panel-title" style="padding-top:0px;">
                                                        Tabla Remisiones
                                                    </div><!-- /.panel-title -->
                                                    <label for="inputEmailExample2" style="float:right;margin-bottom:0px;">Receta</label>
                                                </div><!-- /.panel-heading -->

                                                <div class="panel-body">
                                                    <table class="table table-striped" style="text-align:center;">
                                                        <thead>
                                                            <tr>
                                                                <th style="text-align:center;">#</th>
                                                                <th style="text-align:center;">Remision</th>
                                                                <th align="center" style="padding:0px 0px 0px 0px;width:20px;">Edicion</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>Remision 1</td>
                                                                <td align="center" style="padding:0px 0px 0px 0px;width:20px;"><img width="16px" height="16px" src="../../images/wiseboard/icon_cancel.png" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>Remision 2</td>
                                                                <td align="center" style="padding:0px 0px 0px 0px;width:20px;"><img width="16px" height="16px" src="../../images/wiseboard/icon_cancel.png" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>Remision 3</td>
                                                                <td align="center" style="padding:0px 0px 0px 0px;width:20px;"><img width="16px" height="16px" src="../../images/wiseboard/icon_cancel.png" /></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div><!-- /.panel-body -->
                                            </div><!-- /.form-group TABLE 2 -->
                                        </div><!-- /.form-group TABLE 2 and labels-->


                                    </div> <!-- /.form-group TODO -->

                                    <div class="text-center ">
                                        <button type="submit" class="btn btn-info">Guardad</button>
                                        <button type="button" class="btn btn-default">Cancelar</button>
                                    </div><!-- /.form-group -->


                                </form>
                            </div><!-- /.panel-body -->

                        </div><!-- /.tab-pane 3 -->

                    </div><!-- /.tab-content -->
                </div><!-- /.panel-body -->

            </div>
        </div>

        <!-- CONTENT ENDS -->


    </div>
    <!-- CONTENT WRAPPER ENDS -->
    <!-- REQUIRED SCRIPTS -->
    <script src="~/js/wiseboard/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- REQUIRED NOTIFICATION SCROLL -->
    <script src="~/js/wiseboard/jquery.slimscroll.min.js"></script>
    <!-- admin.min.js - GENERAL CONFIGURATION SCRIPT FOR THE PAGES SIDE SCROLLBAR -->
    <script src="~/js/wiseboard/admin.min.js"></script>
</body>
</html>