<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TheCircle - Bodeguero</title>

    @Html.Partial("Partials/Styles")

</head>
<body class="page-dashboard" ng-app="bodeguero">
    <!-- TopBar -->
    @Html.Partial("Partials/TopBar")
    <!-- TopBar -->
    <div class="content-wrapper">

        @Html.Partial("Partials/SidebarStyles")

        <div class="sidebar" id="sidebar_menu">

            <ul class="sidebar-nav">
                <li data-ripple class=" open" ui-sref="despachar" ui-sref-active="active">
                    <a>
                        <span>Despachar</span>
                    </a>
                </li>
                <li data-ripple class=" open" ui-sref="historial" ui-sref-active="active">
                    <a>
                        <span>Historial</span>
                    </a>
                </li>
                <li data-ripple class="open" ui-sref="stock" ui-sref-active="active">
                    <a>
                        <span>Existencia bodega</span>
                    </a>
                </li>
                <li data-ripple class=" open" ui-sref="ingresar" ui-sref-active="active">
                    <a>
                        <span>Ingresar Ítems</span>
                    </a>
                </li>
                <li data-ripple class=" open" ui-sref="compuesto" ui-sref-active="active">
                    <a>
                        <span>Ingresar Compuestos</span>
                    </a>
                </li>
            </ul>
        </div>

        <div style="overflow-y:auto;max-height:100vh">
            <ui-view></ui-view>
        </div>
    </div>

    @Html.Partial("Partials/Scripts")
    <script src="~/scripts/app/bodeguero.js"></script>
</body>
</html>