<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TheCircle - Director</title>

    @Html.Partial("Partials/Styles")
    <link rel="stylesheet" type="text/css" href="~/styles/vendor/nv.d3.min.css" />

</head>
<body class="page-dashboard" ng-app="director">
    <!-- TopBar -->
    @Html.Partial("Partials/TopBar")
    <!-- TopBar -->
    <div class="content-wrapper">

        @Html.Partial("Partials/SidebarStyles")

        <div class="sidebar" id="sidebar_menu">

            <ul class="sidebar-nav">
                <li data-ripple class=" open" ui-sref="estadisticas" ui-sref-active="active">
                    <a>
                        <span>Ver Estadisticas</span>
                    </a>
                </li>
            </ul>
        </div>

        <div style="overflow-y:auto;max-height:100vh">
            <ui-view></ui-view>
        </div>
    </div>

    @Html.Partial("Partials/Scripts")
    <script src="~/scripts/vendor/d3.min.js" charset="utf-8"></script>
    <script src="~/scripts/vendor/nv.d3.min.js"></script>
    <script src="~/scripts/vendor/angular-ndv3.min.js"></script>

    <script src="~/scripts/app/director.js"></script>
</body>
</html>