<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    @Html.Partial("Partials/Styles")

</head>
<body class="page-dashboard">
    <div class="content-wrapper">

        <div class="content" style="background-color: #fff;overflow-y:auto;max-height:100vh;" >
            <style>
                .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
                .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
                .panel-inverse-light > .panel-heading:after {
                    height: 0px;
                }
            </style>
                <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
                    <div class="panel-title" style="text-align:center;font-size:20px;">
                        <img src="~/images/logo-purple.svg" alt="Children International" style="height:80px;">    
                    </div><!-- /.panel-title -->
                </div><!-- /.panel-heading -->
                <div class="panel-body" style="padding:0px 20px 0px 20px;" ng-init="activar()">

                        <div class="panel-heading" style="text-align:center;font-size:20px;">
                            The Circle
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">
                            <form class="form-horizontal">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">Fecha:</label></td>
                                            <td>27/09/2017</td>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">De:</label></td>
                                            <td>Remision de children</td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">Dispensario:</label></td>
                                            <td>Dispensario solicitado</td>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">Niño:</label></td>
                                            <td>Edgar Carvajal </td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">Sexo:</label></td>
                                            <td>M</td>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">Edad:</label></td>
                                            <td>22</td>
                                        </tr>
                                        <tr>
                                            <td><label class="control-label col-sm-6" style="text-align:left;padding-right:0px;">Diagnostico</label></td>
                                            <td></td>
                                        </tr>
                                   </tbody>
                                </table>
                            </form>
                            

                            <table class="table table-striped" border="1" rules="colums">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Compuesto</th>
                                        <th>X</th>
                                        <th>Y</th>
                                        <th>Z</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                    <tr>

                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                        <td>x</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    <label class="control-label col-sm-12" style="text-align:left;padding-right:0px;padding-bottom:20px">Firma</label>
                    <hr style="border-color: black;text-align:left;width:98%;" size="1"/>
                </div><!-- /.tab-pane 3 -->

        </div>
    </div>

    @Html.Partial("Partials/Scripts")
</body>
</html>