<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Los que se usan en las demas-->
    <link href="http://thenextheme.net/wiseboard/dist/main/css/main.min.css" rel="stylesheet" type="text/css" />
    <!--Aqui acaban-->
    <title>TheCircle : Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/ripple.css" type="text/css">
    <!-- Login css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: url(/images/help-kids-have-a-childhood.jpg) fixed no-repeat 50% 70%;
            background-size: cover
        }

        .login-wrapper {
            width: 100%;
            float: right;
            margin-top: 170px;
            margin-bottom: 120px;
            position: relative;
            max-width: 360px

        }
        .btn-info {
            color: #fff;
            border-color: #17c092;
            background-color: #28d1a3;
        }
            .btn-info:hover {
                color: #fff;
                background-color: #28d1a3;
                border-color: #17c092;
            }
    </style>
</head>
<body class="page-dashboard" ng-app="appLogin" >
    <div class="container">
        <div class="login-wrapper">


            <div ng-controller="login" class="panel" style="border-radius: 6px;background-color: rgba(0,0, 0, 0.55);">
                <div style="background-color: rgba(51, 122, 183, 0.74);text-align: center;color: rgb(255, 255, 255);font-size: 120%;">
                    @ViewData["mensaje"]
                </div>
                <div class="panel-body" style="border-radius: 6px;background-color: rgba(144, 31, 97, 0.55);">

                    <form action="/login" method="post" >
                        <h3 style="margin-bottom: 30px;color:white;text-align:center">Autenticación - TheCircle</h3>
                        <div class="form-group">
                            <div class="browser-default">
                                <input name="cedula" type="text" pattern="[0-9]{10}" title="Ingrese un numero de cedula valido" required class="form-control rounded" placeholder="Ingrese la Cédula">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="browser-default">
                                <input name="clave" type="password" required class="form-control rounded" placeholder="Ingrese la Contraseña">
                            </div>
                        </div>
                        
                             <a href="#" data-toggle="modal" data-target="#myModal_cambiar" style="text-decoration:none; font-size:12px;float:right;margin-top:-5px;">Cambiar su Contraseña</a>
                       
                        <div class="form-group">
                            <select name="localidad" class="form-control myselect" required style="width: 328px;">
                                <option style="display:none;" selected disabled value="">Seleccione el centro comunitario</option>
                                <option value="OC">Oficina central</option>
                                <option value="CC0">Centro Comunitario 0 - Durán</option>
                                <option value="CC2">Centro Comunitario 2 - Phelan</option>
                                <option value="CC3">Centro Comunitario 3 - BUDS"</option>
                                <option value="CC5">Centro Comunitario 5 - Flor de Bastión</option>
                                <option value="CC6">Centro Comunitario 6 - Estrella de Belén</option>
                                <option value="HEE">Centro Hacia El Empleo</option>
                            </select>
                        </div><!-- /.form-group -->
                        <button data-ripple type="submit" class="btn btn-info col-sm-12 rounded" style="width:100%;">Acceder</button>
                    </form>
                </div>
                <div data-ripple class="panel-footer" style="border-radius: 6px;background-color: rgba(144, 31, 97, 0.85);text-decoration:none;border-color:rgba(0,0,0,0.55);">
                   <a href="#" data-toggle="modal" data-target="#myModal" style="color:#fff;text-decoration: none; font-size:16px;margin-left:33%;" >Crear una cuenta</a>
                </div>

            </div>

        </div>


        <!--Modal Item receta-->
        <div id="myModal" class="modal fade" style="margin-top:10%;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Crear una Cuenta</h5>
                    </div>
                    <div class="panel-body" style=" padding-top: 5px;">
                        <form id="crearCuenta" action="login/crear" method="post" style="text-align:left;">
                            <div class="form-group">
                                <div class="browser-default">
                                    <input name="cedula" type="text" pattern="[0-9]{10}" title="Cedula incorrecta" required class="form-control rounded" placeholder="Ingrese su cédula de identidad">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <input name="clave" type="password" required class="form-control rounded" placeholder="Ingrese su clave de sesion">
                                </div>
                            </div>
                            <div class="text-center ">
                                <button type="submit" id="crearButton" class="btn btn-info">Enviar</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                        <script>
                            $('#crearButton').click(function () {
                                $.ajax({
                                    url: 'login/crear',
                                    type: 'post',
                                    dataType: 'json',
                                    data: $('#crearCuenta').serialize(),
                                    success: function (data, textStatus) {
                                        if (data.redirect) {
                                            alert("Se redireciconara");
                                            window.location.href = data.redirect;
                                        }                                               
                                    }
                                })
                            })
                        </script>
                    </div><!--  -->

                </div>
            </div>
        </div>
        <!--Aqui Termina el modal para el item de remision-->

        <!--Modal Item receta-->
        <div id="myModal_cambiar" class="modal fade" style="margin-top:5%;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modificar su Contraseña de Usuario</h5>
                    </div>
                    <div class="panel-body" style=" padding-top: 5px;">
                        <form>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4" style="text-align:left;">Cedula</label>
                                    <input name="cedula" type="text" pattern="[0-9]{10}" title="Cedula incorrecta" required class="form-control rounded" placeholder="Ingrese su cédula de identidad">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4" style="text-align:left;">Contraseña Actual</label>
                                    <input name="clave" type="text" required class="form-control rounded" placeholder="Ingrese su actual  clave de sesion">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4" style="text-align:left;">Nueva Contraseña</label>
                                    <input name="clave" type="text" required class="form-control rounded" placeholder="Ingrese su nueva clave de sesion">
                                </div>
                            </div>
                            <div class="text-center ">
                                <button data-ripple type="submit" class="btn btn-info">Cambiar clave</button>
                                <button data-ripple type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div><!-- /.form-group -->
                        </form>
                    </div>
                 </div>
            </div>
        </div> <!--Aqui Termina el modal para el item de receta-->


    </div><!-- /.container -->
    <!-- scritpts -->
    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/scripts/ripple.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $(".myselect").select2();
    </script>
</body>
</html>
