<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WiseBoard : Login</title>
    <link href="http://thenextheme.net/wiseboard/dist/main/plugins/icheck/css/skins/all.css" rel="stylesheet" type="text/css">
    <!-- main.min.css - WISEBOARD CORE CSS -->
    <link href="http://thenextheme.net/wiseboard/dist/main/css/main.min.css" rel="stylesheet" type="text/css">
    <!-- Login css -->
    <link href="./css/wiseboard/page-login3.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body class="page-dashboard">
    <div class="container">
        <div class="login-wrapper">
            <div class="text-center">

            </div><!-- /.logo-wrapper -->

            <div class="panel" style="border: 0px solid transparent;border-radius: 6px;">
                <div class="panel-body" style="background-color: rgba(144, 31, 97, 0.55);border-radius: 6px;">
                    <h3>Autenticación - TheCircle</h3>
                    <form>
                        <div class="form-group">
                            <div class="input-icon-left">
                                <span class='glyphicon glyphicon-user' style="left: 12px;width: 20px;height: 13px;position: absolute;top: 0;bottom: 0;margin-top: auto;margin-bottom: auto;"></span>
                                <input type="text" class="form-control rounded" placeholder="Ingrese el Usuario">
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <div class="input-icon-left">
                                <span class='glyphicon glyphicon-lock' style="left: 12px;width: 20px;height: 13px;position: absolute;top: 0;bottom: 0;margin-top: auto;margin-bottom: auto;"></span>
                                <input type="password" class="form-control rounded" placeholder="Ingrese la contraseña">
                            </div>
                        </div><!-- /.form-group -->
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <div class="icheckbox_minimal-grey" style="position: relative;">
                                    <input type="checkbox" class="icheck-minimal-grey" style="position: absolute; opacity: 0;">
                                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                    Recordar clave
                                </label>
                            </div>
                        </div><!-- /.form-group -->

                        <button type="submit" class="btn btn-info col-sm-12" style="color:#fff; border-color: #17c092;background-color: #28d1a3;">ACCEDER</button>
                        <a href="http://thenextheme.net/wiseboard/templates/admin4-light/page-login3.html#" class="m-top-5" data-toggle="modal" data-target="#modal-forgotPass" style="color:#f2f4f4;">¿Olvido la Contraseña?</a>
                    </form>

                </div><!-- /.panel-body -->

                <div class="panel-footer" style="background-color: rgba(144, 31, 97, 0.8);text-decoration: none;">
                    <a href="#">CREA UNA CUENTA</a>
                </div>

            </div><!-- /.panel -->
        </div>
    </div><!-- /.container -->
    <!-- REQUIRED SCRIPTS -->
    <script src="http://thenextheme.net/wiseboard/dist/main/js/jquery.min.js"></script>
    <!-- REQUIRED PLUGINS -->
    <script src="http://thenextheme.net/wiseboard/dist/main/plugins/icheck/js/icheck.min.js"></script>
    <script src="http://thenextheme.net/wiseboard/templates/admin4-light/js/page-login.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>