<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Los que se usan en las demas-->

    <!--Aqui acaban-->
    <title>TheCircle : Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Login css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: url(/images/help-kids-have-a-childhood.jpg) fixed no-repeat 50% 70%;
            background-size: cover
        }

        .login-wrapper {
            width: 100%;
            float: right;
            margin-top: 120px;
            margin-bottom: 120px;
            position: relative;
            max-width: 360px

        }
        .btn-info {
            color: #fff;
            border-color: #17c092;
            background-color: #28d1a3;
        }
    </style>
</head>
<body class="page-dashboard" >
    <div class="container">
        <div class="login-wrapper">
            <div class="text-center">

            </div><!-- /.logo-wrapper -->

            <div class="panel" style="border-radius: 6px;background-color: rgba(0,0, 0, 0.55);">
                <div class="panel-body" style="border-radius: 6px;background-color: rgba(144, 31, 97, 0.55);">
                    <form class="form-signin">
                        <h3 class="form-signin-heading" style="margin-bottom: 30px;color:white;text-align:center">Autenticación - TheCircle</h3>
                        <div class="form-group">
                            <div class="browser-default">
                                <input type="text" required class="form-control rounded" placeholder="Ingrese el Usuario">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="browser-default">
                                <input type="password" required class="form-control rounded" placeholder="Ingrese la Contraseña">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label style="color:#fff;">
                                    <input type="checkbox" />
                                    Recordar clave
                                </label>
                            </div>
                        </div><!-- /.form-group -->
                        <button type="submit" class="btn btn-info col-sm-12 rounded">Acceder</button>
                    </form>
                </div>
                
            </div>
            
        </div>
    </div><!-- /.container -->
    <!-- scritpts -->
    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>