<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TheCircle : Login</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="~/styles/ripple.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="~/styles/vendor/select2.min.css" rel="stylesheet" />
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background: url(/images/help-kids-have-a-childhood.jpg) fixed no-repeat 50% 70%;
            background-size: cover;
            max-height: 100%;
            overflow: hidden
        }

        .login-wrapper {
            width: 100%;
            float: right;
            margin-top: 170px;
            margin-bottom: 120px;
            position: relative;
            max-width: 360px

        }
        .btn-info {
            color: #fff;
            border-color: #17c092;
            background-color: #28d1a3;
        }

        .btn-info:hover {
            color: #fff;
            background-color: #28d1a3;
            border-color: #17c092;
        }

    </style>
</head>
<body class="page-dashboard">
    <div class="container">
        <div class="login-wrapper">
            <div class="panel" style="border-radius: 6px;background-color: rgba(0,0, 0, 0.55);">
                <div class="panel-body" style="border-radius: 6px;background-color: rgba(144, 31, 97, 0.55);">

                    <form id="form_login" action="/login" method="post" onsubmit="return login()">
                        <h3 style="margin-bottom: 30px;color:white;text-align:center">Autenticación - TheCircle</h3>
                        <div class="form-group">
                            <div class="browser-default">
                                <input name="cedula" type="text" title="Ingrese un numero de cedula valido" required class="form-control rounded" placeholder="digite su número de cédula">
                            </div>
                        </div>

                        <div class="form-group" style="margin-bottom: 10px;">
                            <div class="browser-default">
                                <input name="clave" type="password" required class="form-control rounded" placeholder="digite su contraseña">
                            </div>
                        </div>
                             <style>
                                 #texto_cambiar_clave {
                                     text-decoration: none;
                                     font-size: 12px;
                                     float: right;
                                     margin-top: -5px;
                                     padding-bottom: 5px;
                                     color: #c5c5c5;
                                 }
                                 #texto_recordar_clave {
                                     text-decoration: none;
                                     font-size: 12px;
                                     float: left;
                                     margin-top: -5px;
                                     padding-bottom: 5px;
                                     color: #c5c5c5;
                                 } 
                             </style>
                        <a href="#" data-toggle="modal" data-target="#modal-recuperarClave" id="texto_recordar_clave">Olvido su contraseña</a>
                        <a href="#" data-toggle="modal" data-target="#modal_cambiar_clave" id="texto_cambiar_clave">cambie su contraseña</a>
                       
                        <div class="form-group">
                            <select name="localidad" class="form-control myselect" required style="width: 328px;">
                                <option style="display:none;" selected disabled value="">seleccione su centro comunitario</option>
                                <option value="OC">Oficina central</option>
                                <option value="CC0">Centro Comunitario 0 - Durán</option>
                                <option value="CC2">Centro Comunitario 2 - Phelan</option>
                                <option value="CC3">Centro Comunitario 3 - BUDS</option>
                                <option value="CC5">Centro Comunitario 5 - Flor de Bastión</option>
                                <option value="CC6">Centro Comunitario 6 - Estrella de Belén</option>
                                <option value="HEE">Centro Hacia El Empleo</option>
                            </select>
                        </div><!-- /.form-group -->
                        <button data-ripple type="submit" class="btn btn-info col-sm-12 rounded" style="width:100%;">Acceder</button>
                    </form>
                </div>
                <style>
                    #button_crear_cuenta {
                        border-radius: 6px;
                        background-color: rgba(144, 31, 97, 0.85);
                        text-decoration: none;
                        border-color: rgba(0,0,0,0.55);
                        cursor: pointer;
                    }

                    #button_crear_cuenta a {
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        margin-left: 33%;
                    }

                    .modal_form label {
                        text-align: left;
                        padding-left: 5px;
                    }

                    .show_password {
                        color: rgba(0, 0, 0, 0.52);
                        border: none;
                        padding-left: 6px;
                    }

                </style>
                <div  data-ripple id="button_crear_cuenta" class="panel-footer" data-toggle="modal" data-target="#modal_crear_cuenta">
                   <a >Crear una cuenta</a>
                </div>
            </div>

        </div>


        <!--Modal Item receta-->
        <div id="modal_crear_cuenta" class="modal fade" style="margin-top:10%;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Cree su cuenta</h5>
                    </div>
                    <div class="panel-body" style=" padding-top: 5px;">
                        <form id="form_crearCuenta" class="modal_form" onsubmit="return crearCuenta()" action="api/user" method="post" style="text-align:left;">
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Cédula de identidad</label>
                                    <input name="cedula" type="text" pattern="[0-9]{10}" title="Ingrese una cédula válida" required class="form-control rounded" placeholder="digite su número de cédula">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Contraseña<span class="glyphicon glyphicon-eye-open show_password"></span></label>
                                    <input name="clave" type="password" pattern=".{6,}" title="Al menos 6 caracteres" required class="form-control rounded" placeholder="digite su contraseña">
                                </div>
                            </div>
                            <div class="text-center ">
                                <button data-ripple type="submit" class="btn btn-info">Enviar</button>
                                <button data-ripple type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div><!--  -->

                </div>
            </div>
        </div>
        <!--Aqui Termina el modal para el item de remision-->

        <!--Modal Item receta-->
        <div id="modal_cambiar_clave" class="modal fade" style="margin-top:5%;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modifique su contraseña</h5>
                    </div>
                    <div class="panel-body" style=" padding-top: 5px;" >
                        <form id="form_cambiar_clave" class="modal_form" action="api/user/clave" method="put" onsubmit="return cambiarClave()">
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Cedula</label>
                                    <input name="cedula" type="text" pattern="[0-9]{10}" title="Ingrese una cedula valida" required class="form-control rounded" placeholder="digite su número de cédula">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Contraseña</label>
                                    <input name="actual" type="password" required class="form-control rounded" placeholder="digite su contraseña">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Nueva Contraseña<span class="glyphicon glyphicon-eye-open show_password"></span></label>
                                    <input id="cambiar_clave_input" name="nueva" type="password" pattern=".{6,}" title="Al menos 6 caracteres" required class="form-control rounded" placeholder="digite su nueva contraseña">
                                </div>
                            </div>
                            <div class="text-center ">
                                <button data-ripple type="submit" class="btn btn-info">Cambiar clave</button>
                                <button data-ripple type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                 </div>
            </div>
        </div> 
        <!--Aqui acaba el modal de cambiar la clave-->

        <!--Empieza el modal de recuperar contraseña-->
        <div id="modal-recuperarClave" class="modal fade" style="margin-top:10%;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Recuperar Contraseña</h5>
                    </div>
                    <div class="panel-body" style=" padding-top: 5px;">
                        <form id="form_recuperarClave" class="modal_form" onsubmit="return recuperarClave()" action="api/user" method="post" style="text-align:left;">
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Cédula de identidad</label>
                                    <input name="cedula" type="text" pattern="[0-9]{10}" title="Ingrese una cédula válida" required class="form-control rounded" placeholder="Ingrese su cédula de identidad">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="browser-default">
                                    <label class="control-label col-sm-4">Email</label>
                                    <input id="emailx" name="email" type="email" title="email registrado" required class="form-control rounded" placeholder="Ingrese su email">
                                </div>
                            </div>
                            <div class="text-center ">
                                <button data-ripple type="submit" class="btn btn-info">Enviar</button>
                                <button data-ripple type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Aqui Termina el modal para el item de remision-->

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="~/scripts/ripple.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="~/scripts/vendor/select2.min.js"></script>
    <script src="~/scripts/vendor/bootstrap-notify.min.js"></script>

    <script>
        $(".myselect").select2();

        function notify(mensaje, tipo, progress) {
            return $.notify(
                {
                    icon: (function () {
                        switch (tipo) {
                            case "success":
                                return "glyphicon glyphicon-saved"
                            case "danger":
                                return "glyphicon glyphicon-ban-circle"
                            default:
                                return ""
                        }
                    })(),
                    message: mensaje,
                    url: '#',
                    target: '_blank'
                }, {
                    element: 'body',
                    position: null,
                    showProgressbar: (function () {
                        if (progress) {
                            return progress
                        } return false
                    })(),
                    type: tipo,
                    allow_dismiss: true,
                    newest_on_top: false,
                    placement: {
                        from: "top",
                        align: "right"
                    },
                    offset: { x: 35, y: 40 },
                    spacing: 10,
                    z_index: 1031,
                    delay: 4000,
                    timer: 1000,
                    url_target: '_blank',
                    mouse_over: "pause",
                    animate: {
                        enter: 'animated bounceIn',
                        exit: 'animated bounceOut'
                    },
                    onShow: null,
                    onShown: null,
                    onClose: null,
                    onClosed: null,
                    icon_type: 'class'
                })
        }

        function login() {
            $.ajax({
                url: '/login',
                type: 'POST',
                data: $('#form_login').serialize(),
                success: function () {
                    window.location.replace('/')
                },
                error: function () {
                    notify("Error de autenticación, por favor revise sus credenciales o la localidad", "danger")
                }
            })
            return false;
        }

        function recuperarClave() {
            var porId = document.getElementById("emailx").value;
            $.ajax({
                url: '/api/user/recuperarclave',
                type: 'PUT',
                data: $('#form_recuperarClave').serialize(),
                success: function () {
                    $("#modal-recuperarClave").modal("hide")
                    notify("Su clave temporal ha sido enviada a " + porId, "success")
                    logout()                
                },
                error: function () {
                    $("#modal-recuperarClave").modal("hide")
                    notify("Cédula/Email incorrectos", "danger")
                }
            })
            return false;
        }

        function crearCuenta() {
            $.ajax({
                url: 'api/user',
                type: 'POST',
                data: $('#form_crearCuenta').serialize(),
                success: function () {
                    $("#modal_crear_cuenta").modal("hide")
                    notify("Usuario creado exitosamente, a continuación sistemas debera validar sus datos, este atento de su email", "success")
                    logout() 
                },
                error: function () {
                    $("#modal_crear_cuenta").modal("hide")
                    notify("No se ha podido crear su usuario, datos incorrectos o usuario ya existente, si el problema persiste consulte a sistemas", "danger")
                }
            })
            return false;
        }

        function cambiarClave() {
            $.ajax({
                url: 'api/user/clave',
                type: 'PUT',
                data: $('#form_cambiar_clave').serialize(),
                success: function () {
                    $("#modal_cambiar_clave").modal("hide")
                    notify("Cambio de contraseña exitoso, inicie sesión nuevamente", "success")
                    logout()
                },
                error: function () {
                    $("#modal_cambiar_clave").modal("hide")
                    notify("No se ha podido cambiar la contraseña, verifique los datos", "danger")
                }
            })
            return false;
        }

        $(".show_password").on("mouseenter", function () {
            $(this).parent().next().attr("type", "text");
        }).on("mouseleave", function () {
            $(this).parent().next().attr("type", "password");
        });

        function logout() { 
            setTimeout(function () {
                window.location.replace('/logout')
            }, 4000)
        }

    </script>
</body>
</html>
