<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TheCircle - Medico</title>
    <!-- REQUIRED STYLES -->
    <link href="~/css/wiseboard/css.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- REQUIRED PLUGINS -->
   <!-- <link href="~/css/wiseboard/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- main.min.css - WISEBOARD CORE CSS -->
    <link href="~/css/wiseboard/main.min.css" rel="stylesheet" type="text/css">
    <!-- admin.min.css - ADMIN LAYOUT -->
    <link href="~/css/wiseboard/admin.min.css" rel="stylesheet" type="text/css">
    <!-- theme-default.min.css - DEFAULT THEME -->
    <link href="~/css/wiseboard/theme-default.min.css" rel="stylesheet" type="text/css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <link href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css" rel="stylesheet"/>

</head>
<body class="page-dashboard" ng-app="appMedico">
    <!-- TOP NAVIGATION STARTS -->
    <nav class="navbar navbar-fixed-top navbar-top" style="background-color:#901F61">
        <div class="container-fluid" style="color:#901F61">
            <div class="navbar-header" style="color:#901F61">
                <a class="navbar-brand" href="" style="color:#901F61">
                    <!--<img src="~/images/wiseboard/logo.svg" alt="logo">-->
                    <span style="color:white">TheCircle</span>
                </a>
                <button type="button" class="sidebar-toggle" style="color:white">
                    <span ng-class="class='glyphicon glyphicon-chevron-right'"></span>
                </button>
            </div><!-- /.navbar-header -->
        </div>
    </nav>
    <!-- TOP NAVIGATION ENDS -->
    <!-- CONTENT WRAPPER STARTS ( INCLUDES LEFT SIDEBAR AND CONTENT PART OF THE PAGE ) -->
    <div class="content-wrapper" style="height:100%;">
        <!-- SIDEBAR STARTS -->
        <style>
            .sidebar .sidebar-nav > li > a {
                color: #901f61;
               font-size:16px;
               font-weight:600;
            }
            .sidebar .sidebar-nav > .open > a:hover, .sidebar .sidebar-nav > .open > a:focus {
                background-color: #d7d3d4;
            }

            .sidebar .sidebar-nav > .active > a, .sidebar .sidebar-nav > .active > a:hover, .sidebar .sidebar-nav > .active > a:focus {
                /*background-color: #706f6f*/
                background-color: #344868
            }
            .btn-info {
                color: #fff;
                border-color: #17c092;
                background-color: #28d1a3;
            }
        </style>
        <div class="sidebar" style="min-height:inherit;background-color:#f2f2f2;">
            <ul class="sidebar-nav">
                <!--add class dropdown for subitems in lists-->
                <li class=" open" ui-sref="atencion" ui-sref-active="active">
                    <a >
                        
                        <span>Atención Médica</span>
                    </a>
                </li><!-- ITEM SIDEBAR END 1 -->
                <!--add class dropdown for subitems in lists-->
                <li class=" open" ui-sref="anulaciones" ui-sref-active="active">
                    <a  >
                        
                        <span>Anulaciones</span>
                    </a>
                </li><!-- ITEM SIDEBAR END 2 -->
                <!--add class dropdown for subitems in lists-->
                <li class=" open" ui-sref="estadisticas" ui-sref-active="active">
                    <a >
                        
                        <span>Estadisticas</span>
                    </a>
                </li><!-- ITEM SIDEBAR END 3 -->
            </ul>
        </div>
        <!-- SIDEBAR ENDS -->
        <!--<div class="sidebar" style="background-color:#344868; width:1px;min-height:inherit;padding:0px;"hidden> </div>-->
        <!-- CONTENT STARTS -->
        <ui-view></ui-view>
        <!-- CONTENT ENDS -->


    </div>
    <!-- CONTENT WRAPPER ENDS -->
    <!-- REQUIRED SCRIPTS -->
    <script src="~/js/wiseboard/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <!-- REQUIRED NOTIFICATION SCROLL -->
    <!--<script src="~/js/wiseboard/jquery.slimscroll.min.js"></script> -->
    <!-- admin.min.js - GENERAL CONFIGURATION SCRIPT FOR THE PAGES SIDE SCROLLBAR -->
    <script src="~/js/wiseboard/admin.min.js"></script>

    <script src="~/js/angular.min.js"></script>
    <script src="~/js/appMedico.js"></script>


    <script src="https://unpkg.com/angular-ui-router@1.0.3/release/angular-ui-router.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.5/dist/angular-nvd3.js"></script>
</body>
</html>