<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TheCircle - Medico</title>
    
    @Html.Partial("Partials/Styles")
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css" />

    <style>
        body {
            font-family: 'Roboto', sans-serif;
            max-height: 100%;
            overflow: hidden
        }
    </style>
</head>
<body class="page-dashboard" ng-app="appMedico">
    <!-- TOP NAVIGATION STARTS -->
    @Html.Partial("Partials/TopBar")
    <!-- TOP NAVIGATION ENDS -->

    <!-- CONTENT WRAPPER STARTS ( INCLUDES LEFT SIDEBAR AND CONTENT PART OF THE PAGE ) -->
    <div class="content-wrapper" style="height:100%;">
        <!-- SIDEBAR STARTS -->
        <style>
            .sidebar .sidebar-nav > li > a {
               color: #901f61;
               font-size:16px;
               font-weight:600;
            }
            .sidebar .sidebar-nav > .open > a:hover, .sidebar .sidebar-nav > .open > a:focus {
                background-color: #d7d3d4;
                
            }

            .sidebar .sidebar-nav > .active > a {
                color: #f2f2f2;
            }

            .sidebar .sidebar-nav > .active > a, .sidebar .sidebar-nav > .active > a:hover, .sidebar .sidebar-nav > .active > a:focus {
                /*background-color: #706f6f*/
                background-color: #344868
            }
            .btn-info {
                color: #fff;
                border-color: #17c092;
                background-color: #28d1a3;
            }
            .table > tbody > tr > td {
                padding: 8px 10px;
            }
            @@media (max-width: 991px) {
                .sidebar {
                    height: 160px;
                    max-height:160px;
                    border-right-color:inherit;
                }
            }
            @@media (min-width: 991px) {
                .sidebar {
                    border-right-color: #344868;
                    min-height: 600px;
                    height:600px;
                }
            }

            #sidebar_menu {
                min-height: 600px;
                background-color: #f2f2f2;
                position: sticky;
                top: auto;
                border-right-color: #344868;
            }
        </style>

        <div class="sidebar" id="sidebar_menu">
            <ul class="sidebar-nav">
                <li data-ripple class="open" ui-sref="atencion" ui-sref-active="active">
                    <a>                        
                        <span>Atención Médica</span>
                    </a>
                </li>
                <li data-ripple class="open" ui-sref="anulaciones" ui-sref-active="active">
                    <a >                        
                        <span>Anulaciones</span>
                    </a>
                </li>
                <li data-ripple class="open" ui-sref="estadisticas" ui-sref-active="active">
                    <a>                        
                        <span>Estadísticas</span>
                    </a>
                </li>
                <li data-ripple class="open" ui-sref="transferencias" ui-sref-active="active">
                    <a>
                        <span>Transferencia Interna</span>
                    </a>
                </li>
            </ul>
        </div>

        <div style="overflow-y:auto;max-height:94vh">
            <ui-view></ui-view>
        </div>

    </div>
    
    @Html.Partial("Partials/Scripts")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js"></script>
    <script src="https://rawgit.com/krispo/angular-nvd3/v1.0.5/dist/angular-nvd3.js"></script>

    <script src="~/scripts/appMedico.js"></script>

</body>
</html>