<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Ver Egresos
            </div>
        </div>

        <div class="panel-body" style="padding:25px 20px 10px 20px;">

            <div class="panel panel-default-light border-default col-sm-12" style="padding:0px">

                <div class="form-group" >
                    <form class="form-horizontal" ng-submit="generar(desde, hasta)">
                        <div class="col-sm-3" style="padding-bottom:5px;">
                            <label class="/control-label">Desde<a style="color:red;">(*)</a></label>
                            <input ng-model="desde" required type="date" class="form-control">
                        </div>
                        <div class="col-sm-3" style="padding-bottom:5px;">
                            <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                            <input ng-model="hasta" required type="date" class="form-control">
                        </div>
                        <div class="col-sm-3" style="padding-bottom:5px;">
                            <button data-ripple type="submit" class="btn btn-info" style="margin-top:26px;">Generar</button>
                        </div>
                    </form>
                </div>

                <div class="panel-heading">
                    <div style="text-align:right">
                        <input class="form-control" type="text" ng-model="buscar.compuesto" placeholder="buscar por compuesto">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:60vh">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compuesto</th>
                                <th>Categor&iacute;a</th>
                                <th>Grupo</th>
                                <th>Caducidad</th>
                                <th>Egreso</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="e in egresos">
                                <td>{{e.nombre}}</td>
                                <td>{{e.compuesto}}</td>
                                <td>{{e.categoria}}</td>
                                <td>{{e.grupo}}</td>
                                <td>{{e.fcaducidad}}</td>
                                <td>{{e.egreso}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
