<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Personal activo
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:25px 20px 10px 20px;">

            <div style="padding:0px">
                <div class="panel-heading">
                    <div style="text-align:right">
                        <input type="text" placeholder="Filtrar personal por nombre, cedula, email" ng-model="buscar" class="form-control">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top:5px;overflow-y:auto;max-height:60vh">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Cédula</th>
                                <th>Nombre</th>
                                <th>Correo Institucional</th>
                                <th>Cargo</th>
                                <th>Bloquear</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="u in usuarios | filter:buscar | orderBy:'cargo'">
                                <td>{{("000000000"+ u.cedula).slice(-10)}}</td>
                                <td>{{u.nombre}} {{u.apellido}}</td>
                                <td><a href="mailto:{{u.email}}">{{u.email}}</a></td>
                                <td>{{u.cargo}}</td>
                                <td width="10%"><button data-ripple style="background-color:inherit;border:none;" ng-click="seleccionar(u)" data-toggle="modal" data-target="#modal_desactivar"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="modal_desactivar" class="modal fade" style="margin-top:10%;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Bloquear Personal</h5>
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">
                            <label class="control-label col-sm-12" style="text-align:center;">¿Cambiar estado a inactivo de personal seleccionado?</label>
                        </div>
                        <div class="text-center ">
                            <button data-ripple type="submit" ng-click="aceptar()" class="btn btn-info">Aprobar</button>
                            <button data-ripple type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div> 

        </div>

    </div>
</div>
