<div class="content">
    <div class="panel panel-default-light border-default">
        <div class="panel-heading">
            <div class="panel-title">
                 Atención Médica
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:20px 20px 0px 20px;">

            <form class="form-horizontal">
                <div class="form-group">
                    <label  class="control-label col-sm-2" style="text-align:left;width:12%;">Codigo Apadrinado</label>
                    <div class="col-sm-3">
                        <input ng-disabled="disable" type="text" pattern="[0-9]{6,10}" title="Solo numeros, maximo 10" class="form-control" placeholder="codigo" ng-model="apadrinado.cod" required>
                    </div>
                    <button ng-disabled="disable" type="submit" class="btn btn-info" ng-click="buscarApadrinado()">Buscar</button>
                </div>
            </form><!-- /.form-group -->

            <div class="form-group col-sm-2" style="position: relative;">
                    <img style="height:120px;width:120px;" ng-src="{{apadrinado.foto}}">
                    <label ng-hide="apadrinado.status" align="center" style="position:absolute;bottom: -5px;left: 15px;width:120px;background-color:#fd6969;">No Aprobado</label>
            </div>

            <div class="form-group">
                <label  class="control-label" style="text-align:left;width:12.5%;">Nombres:</label>
                <label  class="control-label" style="text-align:left;width:25%;"> {{apadrinado.nombres}} {{apadrinado.apellidos}} </label>
                <label  class="control-label" style="text-align:left;width:12.5%;">PI:</label>
                <label  class="control-label" style="text-align:left;width:25%;">{{apadrinado.sector}}</label>
                <label  class="control-label" style="text-align:left;width:12.5%;">Posesion del Hogar:</label>
                <label  class="control-label" style="text-align:left;width:25%;">{{apadrinado.hogar}}</label>
                <label  class="control-label" style="text-align:left;width:12.5%;">Edad:</label>
                <label  class="control-label" style="text-align:left;width:25%;">{{apadrinado.edad}}</label>

                <label  class="control-label" style="text-align:left;width:12.5%;">Niño vive con:</label>
                <label  class="control-label" style="text-align:left;width:25%;">###</label>
                <label  class="control-label" style="text-align:left;width:12.5%;">Numero de Personas:</label>
                <label  class="control-label" style="text-align:left;width:25%;">{{apadrinado.numPer}}</label>
                <label  class="control-label" style="text-align:left;width:12.5%;">Ingreso Mensual:</label>
                <label  class="control-label" style="text-align:left;width:25%;">$ {{apadrinado.income}}</label>
                <label  class="control-label" style="text-align:left;width:12.5%;">Numero de Camas:</label>
                <label  class="control-label" style="text-align:left;width:25%;">{{apadrinado.numBeds}}</label>
            </div>
        </div>

        <div class="panel-body" style="padding:0px 20px 10px 20px;">
            <ul class="nav nav-tabs">
                <li ui-sref="atencion.registro" ui-sref-active="active">
                    <a >Registro</a>
                </li>
                <li ui-sref="atencion.remision" ui-sref-active="active">
                    <a >Remision</a>
                </li>
                <li ui-sref="atencion.receta" ui-sref-active="active">
                    <a >Recetas medicas</a>
                </li>
            </ul>
            <div class="tab-content">
                <ui-view></ui-view>
            </div><!-- /.tab-content -->
        </div><!-- /.panel-body -->

    </div>
</div>
