<div>
    <div class="panel-body">
            <div class="form-group ">
                <!--"m-bottom-30" para poner margen vertical de 30px-->
                <div class="form-group col-sm-6">
                    <label class="control-label col-sm-3">Enfermedad</label>
                    <div class="col-sm-9" style="padding-bottom:5px;">
                        <select required class="form-control" ng-model="receta.diagnostico" ng-options="d as d for d in diagnosticos">
                            <option></option>
                        </select>
                    </div>
                    <div class="panel panel-default-light border-default col-sm-12" style="margin-right: 5px;">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Stock de farmacia
                            </div>
                        </div>

                        <div class="panel-body">
                            <table class="table table-striped" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Stock</th>
                                        <th style="text-align:center;">Nombre</th>
                                        <th style="text-align:center;">Compuesto</th>
                                        <th>Seleccionar</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td>{{item.stock}}</td>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.compuesto}}</td>
                                        <td ng-click="receta.item($item)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                    <div class="form-group col-sm-6">
                        <form ng-submit="agregar()">
                            <label class="control-label col-sm-3">Enfermedad</label>
                            <div class="col-sm-9" style="padding-bottom:5px;">
                                <input disabled type="text" class="form-control" ng-model="receta.diagnostico" placeholder="cantidad">
                            </div>
                            <label class="control-label col-sm-3">Cantidad</label>
                            <div class="col-sm-9" style="padding-bottom:5px;">
                                <input required type="text" class="form-control" ng-model="receta.cantidad" placeholder="cantidad">
                            </div>
                            <label class="control-label col-sm-3">Posologia</label>
                            <div class="col-sm-9">
                                <textarea required ng-model="receta.posologia" class="form-control" placeholder="....." rows="2"></textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-info" style="margin-top:5px;">Agregar a Receta</button>
                                <button type="reset" class="btn btn-info" style="margin-top:5px;">Cancelar</button>
                            </div>
                        </form>
                        
                        <div class="panel panel-default-light border-default col-sm-12" style="margin-left: 5px;">
                            <label style="float:right;margin-bottom:0px;">Receta</label>
                            <div class="panel-heading">
                                <div class="panel-title" style="padding-top:0px;">
                                    Recetado
                                </div><!-- /.panel-title -->
                            </div><!-- /.panel-heading -->

                            <div class="panel-body">
                                <table class="table table-striped" style="text-align:center;">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">#</th>
                                            <th style="text-align:center;">Nombre</th>
                                            <th align="center" style="padding:0px 0px 0px 0px;width:20px;">Posologia</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in recetado">
                                            <td>{{item.cantidad}}</td>
                                            <td>{{item.nombre}}</td>
                                            <td>{{item.posologia}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.panel-body -->
                        </div><!-- /.form-group TABLE 2 -->
                    </div><!-- /.form-group TABLE 2 and labels-->


                </div> <!-- /.form-group TODO -->    

                <div class="text-center ">
                    <button type="submit" class="btn btn-info">Generar receta</button>
                    <button type="button" class="btn btn-default">Cancelar</button>
                </div><!-- /.form-group -->

    </div><!-- /.panel-body -->

</div><!-- /.tab-pane 3 -->
