<div class="panel-body" style="padding:0px 20px 20px 20px;">
    <form class="form-horizontal" ng-submit="generar(remisiones.desde, remisiones.hasta)">
        <!--"m-bottom-30" para poner margen vertical de 30px-->
        <div class="form-group" style="padding-right:5px;">
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="remisiones.desde" ng-init="remisiones.desde='1/1/2017'" required type="text" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="remisiones.hasta" ng-init="remisiones.hasta='9/9/2017'" required type="text" class="form-control">
            </div>
            <div class="col-sm-1" style="padding-bottom:5px;">
                <button type="submit" class="btn btn-info">Generar</button>
            </div>
            <div class="col-sm-1" style="padding-bottom:5px;">
                <button type="reset" class="btn btn-info">Borrar</button>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Remision ID</th>
                    <th>Apadrinado</th>
                    <th>Institucion</th>
                    <th>Monto</th>
                    <th>Sintomas</th>
                    <th>Fecha</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="remision in remisiones.all">
                    <td>{{remision.id}}</td>
                    <td>{{remision.codigoApadrinado}}</td>
                    <td>{{remision.institucion}}</td>
                    <td>{{remision.monto | currency}}</td>
                    <td>{{remision.sintomas}}</td>
                    <td>{{remision.fecha | date: 'dd/MM/yyyy'}}</td>

                </tr>
            </tbody>
        </table>
    </div><!-- Tabla -->
</div>
