<style>
    #estadistica-atenciones-panel, #estadistica-atenciones-form, #estadistica-atenciones-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="estadistica-atenciones-panel">
    <div class="form-group" id="estadistica-atenciones-form">
        <form class="form-horizontal" ng-submit="generar(atenciones.desde, atenciones.hasta)">
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="atenciones.desde" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="atenciones.hasta" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <button data-ripple type="submit" class="btn btn-info" style="margin-top:26px;">Generar</button>
            </div>

        </form>
    </div>

    <div class="panel panel-default-light border-default col-sm-12" id="estadistica-atenciones-table">
        <div >
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>

</div>
