<style>
    #historial_transferencias_panel, #historial_transferencias_form, #historial_transferencias_table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="historial_transferencias_panel">
    <div class="form-group" id="estadistica-atenciones-form">
        <form class="form-horizontal" ng-submit="generar(items.desde, items.hasta)">
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="items.desde" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="items.hasta" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <button data-ripple type="submit" class="btn btn-info" style="margin-top:26px;">Generar</button>
            </div>
        </form>
    </div>
    <div class="panel panel-default-light border-default col-sm-12" id="historial_transferencias_table">
        <div class="panel-heading">
            <div style="text-align:right">
                <input class="form-control" ng-model="buscar" type="text" placeholder="buscar por c&oacute;digo">
            </div>
        </div>
        <div class="panel-body" style=" padding: 5px;overflow-y:auto;max-height:60vh">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Compuesto</th>
                        <th>Transferencia #</th>
                        <th>Grupo</th>
                        <th>Ver info</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="t in items.data | filter:buscar | orderBy:'fecha'">
                        <td>{{("0"+ t.id).slice(-2)}}</td>
                        <td>{{t.nombre}}</td>
                        <td>{{t.compuesto}}</td>
                        <td>{{t.transferencia}}</td>
                        <td>{{t.grupo}}</td>
                        <td width="10%"><button ng-click="ver(t)" data-ripple style="background-color:inherit;border:none;" data-toggle="modal" data-target="#ver_transferencia"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal Item receta-->
    <div id="ver_transferencia" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Información del pedido</h5>
                </div>
                <div class="panel-body" style="padding: 5px;">
                    <table class="table table-bordered table-striped">

                        <tbody style="text-align:left;">
                            <tr>
                                <td style="font-weight:bold;">ID Ítem: </td>
                                <td>{{("0000"+ item.id).slice(-5)}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Nombre: </td>
                                <td>{{item.nombre}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Compuesto: </td>
                                <td>{{item.compuesto}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Categoria: </td>
                                <td>{{item.categoria}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Grupo: </td>
                                <td>{{item.grupo}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Fecha de caducidad: </td>
                                <td>{{item.fcaducidad | date: 'dd/MM/yyyy'}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Cantidad ingresada: </td>
                                <td>{{item.cantidad}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;"># Transferencia: </td>
                                <td>{{item.transferencia}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Proveedor: </td>
                                <td>{{item.proveedor}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;"># orden: </td>
                                <td>{{item.codigoOrden}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;"># documento: </td>
                                <td>{{item.codigoDocumento}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Fecha ingreso: </td>
                                <td>{{item.fechaRegistro | date: 'dd/MM/yyyy - HH:mm'}}</td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;">Comentario: </td>
                                <td>{{item.comentario}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="text-center" style="margin-bottom: 5px;">
                    <button data-ripple type="button" data-dismiss="modal" class="btn btn-info">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>