<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
        #form-crearItem label {
            text-align: left;
            width: 20%;
            padding-right: 0px;
            margin-left: 10px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Ingreso en bodega
            </div>
        </div>

        <div class="panel-body" style="padding:25px 20px 10px 20px;">

            <div class="panel panel-default-light border-default col-sm-7" style="padding:0px">
                <form class="form-horizontal" id="form-crearItem" ng-submit="crear(form)" style="margin-top:10px;">

                    <div class="form-group">
                        <label class="control-label col-sm-2">Compuesto<a style="color:red;">(*)</a></label>
                        <div class="col-sm-8" style="padding-left:initial">
                            <select required class="form-control myselect" ng-model="form.compuesto" ng-options="compuesto.id as compuesto.nombre + ', ' + compuesto.unidadMedida for compuesto in compuestos">
                                <option style="display:none;" selected disabled value="">Compuesto, unidad-medida</option>
                            </select>
                        </div>
                    </div><!-- /.form-group -->

                    <!-- Se elimino esta seccion despues de reunion, value=""
                    <div class="form-group">
                        <label class="control-label col-sm-2">Nombre del Ítem<a style="color:red;">(*)</a></label>
                        <div class="col-sm-8" style="padding-left:initial">
                            <input required ng-model="form.nombre" class="form-control" type="text" pattern=".{3,50}" placeholder="Ingresar el nombre">
                        </div>
                    </div>
                    -->

                    <div class="form-group">
                        <label class="control-label col-sm-2">`Código de orden<a style="color:red;">(*)</a></label>
                        <div class="col-sm-8" style="padding-left:initial">
                            <input required ng-model="form.orden" class="form-control" type="text" pattern=".{1,50}" placeholder="Ingrese el numero o código de orden">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Código de documento</label>
                        <div class="col-sm-8" style="padding-left:initial">
                            <input ng-model="form.documento" class="form-control" type="text" pattern=".{1,50}" placeholder="Ingrese el documento">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Fecha de caducidad</label>
                        <div class="col-sm-8" style="padding-left:initial">
                            <input ng-model="form.fecha" required type="date" class="form-control">
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <label class="control-label col-sm-2">Cantidad<a style="color:red;">(*)</a></label>
                        <div class="col-sm-8" style="padding-left:initial">
                            <input required class="form-control" ng-model="form.cantidad" type="number" placeholder="Ingresar la cantidad" min="1">
                        </div>
                    </div><!-- /.form-group -->

                    <div>
                        <a style="color:red;margin-left: 10px;">(*) campo obligatorio.</a>
                    </div>
                    <div class="text-center">
                        <button data-ripple type="submit" class="btn btn-info">Aceptar</button>
                        <button data-ripple type="reset" class="btn btn-default">Cancelar</button>
                    </div>
                </form>

                <script> $(".myselect").select2() </script>
            </div>

            <div class="panel panel-default-light border-default col-sm-5" style="padding:0px">
                <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:60vh">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre de items registrados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="cursor: pointer" ng-repeat="obj in nombres | orderBy:'nombre' | filter:form.compuesto">
                                <td ng-click="seleccionar(obj.nombre)">{{obj.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
