<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Anular Recetas M&eacute;dicas
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:25px 20px 10px 20px;">

            <div class="panel panel-default-light border-default col-sm-12" style="padding:0px">
                <div class="panel-heading">
                    <div style="text-align:right">
                        <input type="text" ng-model="buscar.receta.idApadrinado" placeholder="buscar por apadrinado" class="form-control">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:60vh">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N&uacute;mero</th>
                                <th>Fecha</th>
                                <th>Apadrinado</th>
                                <th>Ver items</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="obj in recetas" >
                                <td>00000{{obj.receta.id}}</td>
                                <td>{{obj.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                <td>{{obj.receta.idApadrinado}}</td>
                                <td width="10%" ><button ng-click="select(obj)" data-toggle="modal" data-target="#recetaModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>



            <!--Modal Item receta-->
            <div id="recetaModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Receta Nro 000000{{receta.receta.id}}  -  {{receta.receta.fecha | date: 'dd/MM/yyyy'}}</h5>
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Compuesto</th>
                                        <th>Cantidad</th>
                                        <th>Posolog&iacute;a</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in receta.items">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.compuesto}}</td>
                                        <td>{{item.cantidad}}</td>
                                        <td>{{item.posologia}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button type="submit" ng-click="eliminarReceta(receta)" class="btn btn-info" data-dismiss="modal">Eliminar receta</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
