<div class="content" style="padding-bottom:initial;">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title" >
                 Atención Médica
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding-bottom:0px;">

            <form class="form-horizontal">
                <div class="form-group">
                    <label  class="control-label col-sm-2" style="text-align:left;width:20%;">Código Apadrinado <a style="color:red;">(*)</a></label>

                    <div class="col-sm-3">
                        <input ng-disabled="disable" type="text" pattern="[0-9]{5,11}" title="Solo números, mínimo 5, máximo 11" class="form-control" placeholder="código" ng-model="codigo" required>
                    </div>
                    <button ng-disabled="disable" type="submit" class="btn btn-info col-sm-1" ng-click="buscarApadrinado(codigo)">Buscar</button>

                    
                </div>
            </form><!-- /.form-group -->

            <div class="container" style="padding-left:0;">
                <div class="col-sm-2" >
                    <img style="width: auto;height:120px;" ng-src="{{foto}}">
                    <label ng-hide="status" align="center" style="position:absolute;bottom: -5px;left: 15px;width:120px;background-color:#fd6969;">Cancelado</label>
                </div>
                <div class="col-sm-9">
                    <table class="table">
                        <tr>
                            <td class="first">Nombre:</td>
                            <td class="first">{{apadrinado.nombres}} {{apadrinado.apellidos}}</td>
                            <td class="first">Sector:</td>
                            <td class="first">{{apadrinado.sector}}</td>
                            <td class="first">Peso (Kg):</td>
                            <td class="first">{{apadrinado.peso}}</td>
                        </tr>
                        <tr>
                            <td class="second">Posesión hogar:</td>
                            <td class="second">{{apadrinado.posesionHogar}}</td>
                            <td class="second">Edad:</td>
                            <td class="second">{{apadrinado.edad}}</td>
                            <td class="second">Talla (cm):</td>
                            <td class="second">{{apadrinado.talla}}</td>
                        </tr>
                        <tr>
                            <td class="tres">Responsable:</td>
                            <td class="tres">{{apadrinado.responsable}}</td>
                            <td class="tres">Número de Personas:</td>
                            <td class="tres">{{apadrinado.numPer}}</td>
                            <td class="tres">IMC:</td>
                            <td class="tres">{{apadrinado.peso * 10 / (apadrinado.talla / 100 * apadrinado.talla / 100) / 10 | number:2}}</td>
                        </tr>
                        <tr>
                            <td class="cuatro">Ingreso Mensual:</td>
                            <td class="cuatro">{{apadrinado.income | currency}}</td>
                            <td class="cuatro">Número de camas:</td>
                            <td class="cuatro">{{apadrinado.numBeds}}</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <style>
            .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
                border-top-color: #901F61;
                border-right-color: #901F61;
                border-left-color: #901F61;
                color: #901F61;
            }
            .nav-tabs, .nav-tabs > li > a:hover{
                border-bottom-color: #901F61;
            }
        </style>
        <div class="panel-body" style="padding:0px 20px 10px 20px;">
            <ul class="nav nav-tabs">
                <li ui-sref="atencion.registro" ui-sref-active="active">
                    <a>Registro</a>
                </li>
                <li ui-sref="atencion.receta" ui-sref-active="active">
                    <a>Recetas médicas</a>
                </li>
                <li ui-sref="atencion.remision" ui-sref-active="active">
                    <a >Remisión</a>
                </li>
            </ul>
            <div class="tab-content" style="margin-top:10px;">
                <ui-view></ui-view>
            </div><!-- /.tab-content -->
        </div><!-- /.panel-body -->

    </div>
</div>
