<div class="panel-body" style="padding:0px 20px 20px 20px;" ng-init="activar()">

    <div class="panel panel-default-light border-default col-sm-6" style="padding:0px">
        <div class="panel-heading">
            <div class="panel-title" style="padding-top:0px;">
                Existencia en farmacia
            </div>
            <div style="text-align:right">
                <input type="text" ng-model="buscar.compuesto"  placeholder="buscar por compuesto" class="form-control">
            </div>
        </div>
        <div class="panel-body" style=" padding-top: 5px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th >Stock</th>
                        <th >Nombre</th>
                        <th >Compuesto</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in stock | filter:buscar" ng-disabled="disable" ng-click="select(item)" data-toggle="modal" data-target="#myModal">
                        <td>{{item.stock}}</td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.compuesto}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-default-light border-default col-sm-6">

        <div class="panel-heading">
            <div class="panel-title" style="padding-top:0px;">
                Receta Médica
            </div>
            <div class="panel-title" style="text-align:right">
                # 00000{{receta.id}}
            </div>
        </div>

        <div class="panel-body"  style=" padding-top: 5px;">
            <table class="table table-striped" style="text-align:center;">
                <thead>
                    <tr>
                        <th >#</th>
                        <th >Nombre</th>
                        <th >Posología</th>
                        <th> Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="item in receta.items">
                        <td>{{item.cantidad}}</td>
                        <td>{{item.itemFarmacia.nombre}}</td>
                        <td>{{item.posologia}}</td>
                        <td width="10%"><button ng-disabled="disable" ng-click="eliminarItem(receta.items, $index)"><span class="glyphicon glyphicon-remove"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div><!--  -->
        <div class="text-center ">
            <button ng-disabled="disable" type="submit" ng-click="guardarReceta()" class="btn btn-info">Guardar receta médica</button>
            <button ng-disabled="disable" type="button" class="btn btn-default">Cancelar</button>
        </div><!-- /.form-group -->
    </div><!--  -->


    <!--Modal Item receta-->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle del Compuesto Seleccionado</h5>
                </div>
                <div class="modal-body panel-body">
                    <form class="form-horizontal" ng-submit="addItenReceta(ItemRecetaNuevo)">
                        <div class="form-group" style="height:36px;">
                            <label class="col-sm-2 control-label">Item</label>
                            <div class="col-sm-9">
                                <input disabled type="text" class="form-control" value="{{ItemRecetaNuevo.itemFarmacia.nombre}} {{ItemRecetaNuevo.itemFarmacia.compuesto}}">
                            </div>
                        </div>

                        <div class="form-group" style="height:36px;">
                            <label  class="col-sm-2 control-label">Diagnostico <a style="color:red;">(*)</a></label>
                            <div class="col-sm-9">
                                <select ng-disabled="disable" required class="form-control myselect" style="width: 100%;" ng-model="ItemRecetaNuevo.diagnostico" ng-options="d.id as d.enfermedadCod + ' ' + d.enfermedadNombre for d in diagnosticos">
                                </select>
                            </div>
                        </div>

                        <div class="form-group" style="height:36px;">
                            <label  class="col-sm-2 control-label">Cantidad <a style="color:red;">(*)</a></label>
                            <div class="col-sm-9">
                                <input ng-disabled="disable" required type="number" min="1" max="99" class="form-control" ng-model="ItemRecetaNuevo.cantidad" placeholder="">
                            </div>
                        </div>

                        <div class="form-group" style="height:36px;">
                            <label class="col-sm-2 control-label" >Posologia <a style="color:red;">(*)</a></label>
                            <div class="col-sm-9">
                                <textarea ng-disabled="disable" class="form-control" required ng-model="ItemRecetaNuevo.posologia"  placeholder="....." rows="2"></textarea>
                            </div>
                        </div>
                        <div>
                            <a style="color:red;">(*) campo obligatorio.</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" ng-disabled="disable" class="btn btn-info">Agregar a Receta</button>
                            <button type="button" data-dismiss="modal"  class="btn btn-default">Cancelar</button>
                        </div>
                    </form>
                </div>
        </div>
    </div>

</div>
    <!--Aqui Termina el modal para el item de receta-->

</div><!-- /.tab-pane 3 -->
