<div class="panel-body" style="padding:0px 20px 20px 20px;">
    <form class="form-horizontal" ng-submit="generar(recetas.desde, recetas.hasta)">
        <!--"m-bottom-30" para poner margen vertical de 30px-->
        <div class="form-group" style="padding-right:5px;">
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="recetas.desde" ng-init="recetas.desde='1/1/2017'" required type="text" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="recetas.hasta" ng-init="recetas.hasta='9/9/2017'" required type="text" class="form-control">
            </div>
            <div class="col-sm-1" style="padding-bottom:5px;">
                <button type="submit" class="btn btn-info">Generar</button>
            </div>
        </div>
    </form>

    <div class="panel-body" style="padding:0px 0px 0px 0px;overflow-y:auto;height:45vh;">
        <div class="panel panel-default-light border-default col-sm-12" style="padding:0px">
            <div class="panel-heading">
                <div class="panel-title" style="padding-top:0px;">
                    Recetas Medicas
                </div>
            </div>
            <div class="panel-body" style=" padding-top: 5px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Fecha</th>
                            <th>Doctor</th>
                            <th>Apadrinado</th>
                            <th>Ver items</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="obj in recetas.all">
                            <td>{{obj.receta.id}}</td>
                            <td>{{obj.receta.fecha | date: 'dd/MM/yyyy'}}</td>
                            <td>{{obj.receta.idDoctor}}</td>
                            <td>{{obj.receta.idApadrinado}}</td>
                            <td width="10%"><button ng-click="select(obj)" data-toggle="modal" data-target="#recetaModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Modal Item receta-->
    <div id="recetaModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Receta Nro 000000{{receta.receta.id}}  -  {{receta.receta.fecha | date: 'dd/MM/yyyy'}}</h5>
                </div>
                <div class="panel-body" style=" padding-top: 5px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compuesto</th>
                                <th>Cantidad</th>
                                <th>Posologia</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in receta.items">
                                <td>{{item.nombre}}</td>
                                <td>{{item.compuesto}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.posologia}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>