<style>
    #estadistica-atenciones-panel, #estadistica-atenciones-form, #estadistica-atenciones-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="estadistica-atenciones-panel">
    <div class="form-group" id="estadistica-atenciones-form">
        <form class="form-horizontal" ng-submit="generar(atenciones.desde, atenciones.hasta)">
            <!--"m-bottom-30" para poner margen vertical de 30px-->
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="atenciones.desde" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="atenciones.hasta" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <button data-ripple type="submit" class="btn btn-info" style="margin-top:26px;">Generar</button>
            </div>

        </form>
    </div>

    <div class="panel panel-default-light border-default col-sm-12" id="estadistica-atenciones-table">
        <div class="panel-heading">
            <div style="text-align:right">
                <input class="col-sm-6 form-control" type="text" ng-model="buscar.receta.idApadrinado" placeholder="buscar por apadrinado" style="width:49%;margin-right:1%;">
                 <select class="col-sm-6 form-control myselect" style="width:49%;margin-left:1%;">
                    <option style="display:none;" selected disabled value="">Buscar por tipo</option>
                     <option value="Todos">Todos</option>
                    <option   value="Curativo">Curativo</option>
                    <option   value="Seguimiento">Seguimiento</option>
                    <option value="Control">Control</option>
                </select>
            </div>
        </div>
        <div style="overflow-y:auto;max-height:44vh;padding-bottom:10px;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>Fecha</th>
                        <th>ID Apadrinado</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="atencion in atenciones.all">
                        <td>{{atencion.tipo}}</td>
                        <td>{{atencion.fecha | date: 'dd/MM/yyyy - H:mm'}}</td>
                        <td>{{atencion.idApadrinado}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
