<div class="panel-body" style="padding:0px 20px 20px 20px;">
    <form class="form-horizontal" ng-submit="generar(atenciones.desde, atenciones.hasta)">
        <!--"m-bottom-30" para poner margen vertical de 30px-->
        <div class="form-group" style="padding-right:5px;">
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="atenciones.desde" ng-init="atenciones.desde='1/1/2017'" required type="text" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="atenciones.hasta" ng-init="atenciones.hasta='9/9/2017'" required type="text" class="form-control">
            </div>
            <div class="col-sm-1" style="padding-bottom:5px;">
                <button type="submit" class="btn btn-info">Generar</button>
            </div>
        </div>
    </form>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Fecha</th>
                    <th>ID Apadrinado</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="atencion in atenciones.all">
                    <td>{{atencion.tipo}}</td>
                    <td>{{atencion.fecha | date: 'dd/MM/yyyy - H:mm'}}</td>
                    <td>{{atencion.idApadrinado}}</td>
                </tr>
            </tbody>
        </table>
    </div><!-- Tabla -->
    <div>
        <md-table data="data"> </md-table>
    </div>

</div>
