<div class="panel-body" style="padding:0px 20px 20px 20px;">
        <form class="form-horizontal" ng-submit="generar(enfermedades.desde, enfermedades.hasta)" >
                <div class="form-group" style="padding-right:5px;">
                    <div class="col-sm-3" style="padding-bottom:5px;">
                        <label class="control-label" style="text-align:left;">Desde<a style="color:red;">(*)</a></label>
                        <input type="date" class="form-control" required ng-model="enfermedades.desde">
                    </div>
                    <div class="col-sm-3" style="padding-bottom:5px;">
                        <label class="control-label" style="text-align:left;">Hasta<a style="color:red;">(*)</a></label>
                        <input type="date" class="form-control" required ng-model="enfermedades.hasta">
                    </div>
                    <div class="col-sm-3" style="padding-bottom:5px;">
                        <button type="submit" class="btn btn-info" style="margin-top:26px;">Generar</button>
                    </div>
                </div>

        </form>
    <nvd3 options="options" data="data"></nvd3>
</div>