<style>
    #estadistica-recetas-panel, #estadistica-recetas-form, #estadistica-recetas-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="estadistica-recetas-panel">
    <div class="form-group" id="estadistica-recetas-form">
        <form class="form-horizontal" ng-submit="generar(recetas.desde, recetas.hasta)">
            <!--"m-bottom-30" para poner margen vertical de 30px-->
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Desde<a style="color:red;">(*)</a></label>
                <input ng-model="recetas.desde" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <label class="control-label">Hasta<a style="color:red;">(*)</a></label>
                <input ng-model="recetas.hasta" required type="date" class="form-control">
            </div>
            <div class="col-sm-3" style="padding-bottom:5px;">
                <button data-ripple type="submit" class="btn btn-info" style="margin-top:26px;">Generar</button>
            </div>
        </form>
    </div>

    <div class="panel panel-default-light border-default col-sm-12" id="estadistica-recetas-table">
        <div class="panel-heading">
            <div style="text-align:right">
                <input type="text" ng-model="buscar.receta.idApadrinado" placeholder="buscar por apadrinado" class="form-control">
            </div>
        </div>
        <div style="overflow-y:auto;max-height:45vh">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N&uacute;mero</th>
                        <th>Fecha</th>
                        <th>C&oacute;digo</th>
                        <th>Nombre apadrinado</th>
                        <th>Ver &iacute;tems</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="obj in recetas.all | filter:buscar | orderBy:'receta.fecha'">
                        <td>{{("00000000"+ obj.receta.id).slice(-9)}}</td>
                        <td>{{obj.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                        <td>{{obj.receta.idApadrinado}}</td>
                        <td>{{obj.receta.nombreApadrinado}} {{obj.receta.apellidoApadrinado}}</td>
                        <td width="10%"><button data-ripple style="background-color:inherit;border: none;" ng-click="select(obj)" data-toggle="modal" data-target="#recetaModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal Item receta-->
    <div id="recetaModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"># receta  {{("00000000"+ obj.receta.id).slice(-9)}}  -  {{receta.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}}</h5>
                </div>
                <div class="panel-body" style=" padding-top: 5px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compuesto</th>
                                <th>Cantidad</th>
                                <th>Posología</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in receta.items">
                                <td>{{item.nombre}}</td>
                                <td>{{item.compuesto}}</td>
                                <td>{{item.cantidad}}</td>
                                <td>{{item.posologia}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center ">
                    <button data-ripple type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div><!-- /.form-group -->
            </div>
        </div>
    </div>


</div>