<div class="panel-body" style="padding:0px 20px 20px 20px;">
        <form class="form-horizontal" ng-submit="generar(enfermedades.desde, enfermedades.hasta)" >
                <div class="form-group" style="padding-right:5px;">
                    <div class="col-sm-3" style="padding-bottom:5px;">
                        <label class="control-label" style="text-align:left;">Desde<a style="color:red;">(*)</a></label>
                        <input class="form-control" required ng-model="enfermedades.desde" ng-init="enfermedades.desde='1/1/2017'">
                    </div>
                    <div class="col-sm-3" style="padding-bottom:5px;">
                        <label class="control-label" style="text-align:left;">Hasta<a style="color:red;">(*)</a></label>
                        <input class="form-control" required ng-model="enfermedades.hasta" ng-init="enfermedades.hasta='9/9/2017'">
                    </div>
                    <div class="col-sm-1" style="padding-bottom:5px;">
                        <button type="submit" class="btn btn-info">Generar</button>
                    </div>
                    <div class="col-sm-1" style="padding-bottom:5px;">
                        <button type="reset" class="btn btn-info">Borrar</button>
                    </div>
                </div>

        </form>
    <nvd3 options="options" data="data"></nvd3>
</div>