<div style="padding:0px;">
    <div class="panel-heading" style="padding:inherit;">
        <div style="text-align:right">
            <input class="form-control" type="text" ng-model="buscar.compuesto" placeholder="buscar por compuesto">
        </div>
    </div>
    <div class="panel-body" style="padding: inherit;overflow-y:auto;max-height:60vh">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Compuesto</th>
                    <th>Categor&iacute;a</th>
                    <th>Disponible</th>
                    <th>Caducidad</th>
                    <th>Solicitar</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in stock | orderBy:'nombre' | filter:buscar">
                    <td>{{item.nombre}}</td>
                    <td>{{item.compuesto}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.stock}}</td>
                    <td>{{item.fcaducidad | date: 'dd/MM/yyyy'}}</td>
                    <td><button ng-click="seleccionar(item)" style="background-color:inherit;border:none;"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="despachar" class="modal fade" style="margin-top:5%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle del Item Seleccionado</h5>
            </div>
            <div class="modal-body">
                <table class="table table-striped" style="text-align:center;">
                    <tbody style="text-align:left;">
                        <tr>
                            <td>Nombre Ítem: </td>
                            <td>{{item.nombre}}</td>
                        </tr>
                        <tr>
                            <td>Compuesto: </td>
                            <td>{{item.compuesto}}</td>
                        </tr>
                        <tr>
                            <td>Cantidad disponible: </td>
                            <td>{{item.stock}}</td>
                        </tr>
                        <tr>
                            <td>Cantidad a solicitar: </td>
                            <td><input form="pedidoI" required type="number" min="1" title="La cantidad no puede ser mayor al stock" class="form-control" ng-model="cantidad"></td>
                        </tr>
                    </tbody>
                </table>
                <form style="padding-top:15px;text-align:center" id="pedidoI" ng-submit="solicitar(cantidad)">
                    <button data-ripple type="submit" class="btn btn-info">Guardar</button>
                    <button type="reset" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                </form>        
            </div>
        </div>
    </div>

</div>