<div class="panel panel-default-light border-default col-sm-12" style="padding:0px">
    <div class="panel-heading">
        <div style="text-align:right">
            <input type="text" ng-model="buscar.compuesto" placeholder="buscar por compuesto" class="col-sm-6 form-control" style="width:32%;">
            <select class="col-sm-3 form-control" ng-model="buscar.localidad" style="width:32%;margin-left:1%;">
                <option value="" selected>Todas las localidades</option>
                <option value="OC">Oficina central</option>
                <option value="CC0">Centro Comunitario 0 - Durán</option>
                <option value="CC2">Centro Comunitario 2 - Phelan</option>
                <option value="CC3">Centro Comunitario 3 - BUDS</option>
                <option value="CC5">Centro Comunitario 5 - Flor de Bastión</option>
                <option value="CC6">Centro Comunitario 6 - Estrella de Belén</option>
                <option value="HEE">Centro Hacia El Empleo</option>
            </select>
            <select class="col-sm-3 form-control" ng-model="buscar.grupo" style="width:32%;margin-left:1%;">
                <option value="" selected>Todos los grupos</option>
                <option value="IME">Insumos medicos</option>
                <option value="IOD">Insumos odontologicos</option>
                <option value="MED">Medicinas</option>
            </select>
        </div>
    </div>
    <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:60vh">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Compuesto</th>
                    <th>Categor&iacute;a</th>
                    <th>Disponible</th>
                    <th>Caducidad</th>
                    <th>Solicitar</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="item in stock | orderBy:'compuesto' | filter:buscar">
                    <td>{{item.nombre}}</td>
                    <td>{{item.compuesto}}</td>
                    <td>{{item.categoria}}</td>
                    <td>{{item.stock}}</td>
                    <td>{{item.fcaducidad | date: 'dd/MM/yyyy'}}</td>
                    <td><button ng-click="seleccionar(item)" style="background-color:inherit;border:none;"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div id="modal_transferencia" class="modal fade" style="margin-top:5%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle del Item Seleccionado</h5>
            </div>
            <div class="modal-body">
                <table class="table table-striped" style="text-align:center;">

                    <tbody style="text-align:left;">
                        <tr>
                            <td>Nombre Ítem: </td>
                            <td>{{item.nombre}}</td>
                        </tr>
                        <tr>
                            <td>Compuesto: </td>
                            <td>{{item.compuesto}}</td>
                        </tr>
                        <tr>
                            <td>Localidad: </td>
                            <td>{{item.localidad}}</td>
                        </tr>
                        <tr>
                            <td>Stock: </td>
                            <td>{{item.stock}}</td>
                        </tr>
                        <tr>
                            <td>Cantidad a solicitar: </td>
                            <td><input form="transferencia" required type="number" min="1" title="La cantidad no puede ser mayor al stock" class="form-control" ng-model="cantidad"></td>
                        </tr>
                    </tbody>
                </table>
                <form style="padding-top:15px;text-align:center" id="transferencia" ng-submit="solicitar(cantidad)">
                    <button data-ripple type="submit" class="btn btn-info">Guardar</button>
                    <button type="reset" data-dismiss="modal" class="btn btn-default">Cancelar</button>
                </form>                    
            </div>
        </div>
    </div>
</div>