<style>
    #ingresar-transferencias-panel, #ingresar-transferencias-form, #ingresar-transferencias-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="ingresar-transferencias-panel">
    <div class="panel panel-default-light border-default" id="ingresar-transferencias-table">
        <div class="panel-body" style=" padding-top:5px;overflow-y:auto;max-height:60vh">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N&uacute;mero</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Compuesto</th>
                        <th>Cantidad</th>
                        <th>Ver informacion</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>a1</td>
                        <td>b1</td>
                        <td>c1</td>
                        <td>d1</td>
                        <td>e1</td>
                        <td width="10%"><button ng-click="ver(t)" data-ripple style="background-color:inherit;border:none;" data-toggle="modal" data-target="#ver_transferencia"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                    <tr>
                        <td>a2</td>
                        <td>b2</td>
                        <td>c2</td>
                        <td>d2</td>
                        <td>e2</td>
                        <td width="10%"><button ng-click="ver(t)" data-ripple style="background-color:inherit;border:none;" data-toggle="modal" data-target="#ver_transferencia"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                    <tr>
                        <td>a3</td>
                        <td>b3</td>
                        <td>c3</td>
                        <td>d3</td>
                        <td>e3</td>
                        <td width="10%"><button ng-click="ver(t)" data-ripple style="background-color:inherit;border:none;" data-toggle="modal" data-target="#ver_transferencia"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="ver_transferencia" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Datos de la transferencia</h5>
                </div>
                <div class="panel-body" style=" padding-top: 5px;">
                    <table class="table table-striped" style="text-align:center;">

                        <tbody style="text-align:left;">
                            <tr>
                                <td>Numero: </td>
                                <td>#########</td>
                            </tr>
                            <tr>
                                <td>Nombre: </td>
                                <td>nombre generico 1</td>
                            </tr>
                            <tr>
                                <td>Compuesto: </td>
                                <td>compuesto Y</td>
                            </tr>
                            <tr>
                                <td>Cantidad: </td>
                                <td>12345 </td>
                            </tr>
                            <tr>
                                <td>Comentario: </td>
                                <td><input ng-model="comentario" type="text" pattern=".{50}" style="width:100%;" /></td>
                            </tr>
                            <tr>
                                <td>Fecha de pedido: </td>
                                <td>DD/MM/YYYY</td>
                            </tr>
                            <tr>
                                <td>Origen de pedido: </td>
                                <td>CCX</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="text-center" style="margin-bottom: 5px;">
                    <button ng-click="guardarIngreso(comentario)" data-ripple type="submit" class="btn btn-info">Aceptar</button>
                    <button data-ripple type="button" class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>