<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Aprobar Remisiones M&eacute;dicas
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:25px 20px 20px 20px;">
            <div class="panel panel-default-light border-default" style="padding:0px">
                <div class="panel-heading">
                    <div style="text-align:right">
                        <input type="text" ng-model="buscar.receta.idApadrinado" placeholder="buscar por apadrinado" class="form-control">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:59vh;">
                    <table class="table table-striped" id="tabla1">
                        <thead>
                            <tr>
                                <th>C&oacute;digo</th>
                                <th>Fecha Remisi&oacute;n</th>
                                <th>Apadrinado</th>
                                <th>PI</th>
                                <th>Monto</th>
                                <th>Visualizar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>9018716</td>
                                <td>21/09/2017</td>
                                <td>Steven Enrique León De La Rosa</td>
                                <td>01</td>
                                <td>50</td>
                                <td width="10%"><button data-ripple style="background-color:inherit;border: none;" ng-click="select(obj)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                            </tr>
                            <tr>
                                <td>9018717</td>
                                <td>31/12/2017</td>
                                <td>Mildred Elena Marquez Vite</td>
                                <td>01</td>
                                <td>60</td>
                                <td width="10%"><button style="background-color:inherit;border: none;" data-ripple ng-click="select(obj)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <script type="text/javascript">
                function unhide() {
                    var trhiden = document.getElementById("hidden");
                    trhiden.removeAttribute("hidden")
                }
            </script>
            <!--Modal Item receta-->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Datos de la Remisi&oacute;n</h5>
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">
                            <table class="table table-striped" style="text-align:center;">

                                <tbody style="text-align:left;">
                                    <tr>
                                        <td>Apadrinado: </td>
                                        <td>1083334</td>
                                    </tr>
                                    <tr>
                                        <td>Doctor: </td>
                                        <td>MERCEDES MARIA MORAN MANTUANO</td>
                                    </tr>
                                    <tr>
                                        <td>Instituci&oacute;n: </td>
                                        <td>Instituto de Neurociencias - Neumologia</td>
                                    </tr>
                                    <tr>
                                        <td>Monto: </td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Creaci&oacute;n: </td>
                                        <td>21/09/2017</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de Expiraci&oacute;n: </td>
                                        <td>26/11/2017</td>
                                    </tr>
                                    <tr id="hidden" hidden>
                                        <td>Motivo de Rechazo: </td>
                                        <td><textarea style="resize:none;" rows="2" cols="20"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!--  -->
                        <div class="text-center" style="margin-bottom: 5px;">
                            <button data-ripple type="submit" class="btn btn-info">Aprobar Remisi&oacute;n</button>
                            <button data-ripple type="button" class="btn btn-info" onclick="unhide()">Rechazar Remisi&oacute;n</button>
                            <button data-ripple type="button" class="btn btn-default">Cancelar</button>
                        </div><!-- /.form-group -->
                    </div>
                </div>
            </div>
            <!--Aqui Termina el modal para el item de remision-->
        </div>
    </div>
</div>