<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Aprobar Remisiones M&eacute;dicas
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:25px 20px 20px 20px;">
            <div class="panel panel-default-light border-default" style="padding:0px">
                <div class="panel-heading">
                    <div style="text-align:right">
                        <input type="text" ng-model="buscar.idRemision" placeholder="buscar por código de remisión" class="form-control">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:59vh;">
                    <table class="table table-striped" id="tabla1">
                        <thead>
                            <tr>
                                <th># Remisión</th>
                                <th>Fecha Remisi&oacute;n</th>
                                <th>Monto remisi&oacute;n</th>
                                <th>Monto aprobado</th>
                                <th>Ver</th>
                                <th>Aprobar</th>
                                <th>Rechazar</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="ap in aprobaciones1 | filter:buscar">
                                <td>{{("00000000"+ ap.idRemision).slice(-9)}}</td>
                                <td>{{ap.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                <td>{{ap.monto | currency}}</td>
                                <td>{{ap.montoAP1 | currency}}</td>
                                <td width="10%"><button style="background-color:inherit;border: none;" ng-click="ver(ap)"><span class="glyphicon glyphicon-search"></span></button></td>
                                <td width="10%"><button style="background-color:inherit;border: none;" ng-click="guardarAprobacion(ap.idRemision)"><span class="glyphicon glyphicon-ok"></span></button></td>                               
                                <td width="10%"><button style="background-color:inherit;border: none;" ng-click="rechazar(ap)"><span class="glyphicon glyphicon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Modal aprobar remision AP1-->
            <div id="modal_ver" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Datos de la Remisi&oacute;n</h5>
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">
                            <table class="table table-striped" style="text-align:center;">

                                <tbody style="text-align:left;">
                                    <tr>
                                        <td>Remisión #: </td>
                                        <td>{{("00000000"+ aprobacion.idRemision).slice(-9)}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha remisión: </td>
                                        <td>{{aprobacion.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Instituci&oacute;n: </td>
                                        <td>{{aprobacion.institucion}}</td>
                                    </tr>
                                    <tr>
                                        <td>Monto remisi&oacute;n: </td>
                                        <td>{{aprobacion.monto | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Monto aprobado por coordinaci&oacute;n salud: </td>
                                        <td>{{aprobacion.montoAP1 | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de aprobación: </td>
                                        <td>{{aprobacion.fechaAP1 | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Comentario de aprobación: </td>
                                        <td>{{aprobacion.comentarioAP1}}</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!--  -->
                        <div class="text-center" style="margin-bottom: 5px;">
                            <button data-ripple type="button" data-dismiss="modal" class="btn btn-info">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Aqui Termina el modal para el item de remision-->


            <!--Modal rechazar remision-->
            <div id="modal_rechazar" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Datos de la Remisi&oacute;n</h5>
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">
                            <table class="table table-striped" style="text-align:center;">

                                <tbody style="text-align:left;">
                                    <tr>
                                        <td>Remisión #: </td>
                                        <td>{{("00000000"+ aprobacion.idRemision).slice(-9)}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha remisión: </td>
                                        <td>{{aprobacion.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Instituci&oacute;n: </td>
                                        <td>{{aprobacion.institucion}}</td>
                                    </tr>
                                    <tr>
                                        <td>Monto remisi&oacute;n: </td>
                                        <td>{{aprobacion.monto | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Monto aprobado: </td>
                                        <td>{{aprobacion.montoAP1 | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de aprobación: </td>
                                        <td>{{aprobacion.fechaAP1 | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                    </tr>
                                    <tr>
                                        <td>Comentario de aprobación: </td>
                                        <td>{{aprobacion.comentarioAP1}}</td>
                                    </tr>
                                    <tr>
                                        <td>Motivo del rechazo: </td>
                                        <td><input form="rechazarForm" required ng-model="comentarioRechazo" pattern=".{5,50}" title="Ingrese un comentario de maximo 50 caracteres" type="text" style="width:100%;" /></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <form id="rechazarForm" class="text-center" ng-submit="guardarRechazo(aprobacion.idRemision, comentarioRechazo)" style="margin-bottom: 5px;">
                            <button data-ripple type="submit" class="btn btn-info">Rechazar Remisi&oacute;n</button>
                            <button data-ripple type="reset" onclick="closeRechazar()" class="btn btn-default">Cancelar</button>
                        </form>
                        <script>
                            function closeRechazar() { 
                                $("#modal_rechazar").modal("hide") 
                            } 
                        </script>
                    </div>
                </div>
            </div>
            <!--Aqui Termina el modal para rechazar remision-->
        </div>
    </div>
</div>