<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Historial de aprobaciones
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:25px 20px 20px 20px;">
            <div class="panel panel-default-light border-default col-sm-12" style="padding:0px">
                <div class="panel-heading">
                    <div style="text-align:right">
                        <input class="form-control" type="text" ng-model="buscar.compuesto" placeholder="buscar por c&oacute;digo">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top: 5px;overflow-y:auto;max-height:60vh">
                    <table class="table table-striped" id="tableid">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compuesto</th>
                                <th>X</th>
                                <th>Y</th>
                                <th>Z</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>

                                <td>x1</td>
                                <td>x2</td>
                                <td>x3</td>
                                <td>x4</td>
                                <td>x5</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                            </tr>
                            <tr>

                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>x</td>
                                <td>0981711038</td>
                            </tr>
                        </tbody>
                    </table>
                    <button onclick="fnExcelReport()">Exportar a Excel</button>


                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        function fnExcelReport() {
            var tab_text = '<table border="1px" style="font-size:20px" ">';
            var textRange;
            var j = 0;
            var sa;
            var tab = document.getElementById('tableid'); // id of table
            var lines = tab.rows.length;
            // the first headline of the table
            if (lines > 0) {
                    tab_text = tab_text + '<tr>' + tab.rows[0].innerHTML + '</tr>';
            }

            // table data lines, loop starting from 1
            for (j = 1; j < lines; j++) {
                var w = tab.rows[j].innerHTML;
                tab_text = tab_text + "<tr>" + w + "</tr>";
            }

            tab_text = tab_text + "</table>";
            tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");             //remove if u want links in your table
            tab_text = tab_text.replace(/<img[^>]*>/gi, "");                 // remove if u want images in your table
            tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, "");    // reomves input params
            //console.log(tab_text); // aktivate so see the result (press F12 in browser)

            var ua = window.navigator.userAgent;
            var msie = ua.indexOf("MSIE ");

            // if Internet Explorer
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                txtArea1.document.open("txt/html", "replace");
                txtArea1.document.write(tab_text);
                txtArea1.document.close();
                txtArea1.focus();
                sa = txtArea1.document.execCommand("SaveAs", true, "DataTableExport.xls");
            }
            else // other browser not tested on IE 11
                var link = document.createElement('a');
                link.download = "DataTableExport.xls";
                link.href = 'data:application/vnd.ms-excel,' + encodeURIComponent(tab_text);
                link.click();

            return (sa);
        }   

    </script>


</div>