<style>
    #estadistica-recetas-panel, #estadistica-recetas-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="estadistica-recetas-panel">
    <div class="panel panel-default-light border-default col-sm-12" id="estadistica-recetas-table">
        <div class="panel-heading">
            <div style="text-align:right">
                <input type="text" ng-model="buscar.receta.id" placeholder="buscar por número de receta" class="form-control">
            </div>
        </div>
        <div style="overflow-y:auto;max-height:45vh">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N&uacute;mero</th>
                        <th>Fecha</th>
                        <th>Doctor</th>
                        <th>Asistente</th>
                        <th>Ver &iacute;tems</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="obj in recetas | filter:buscar | orderBy:'receta.id'">
                        <td>{{("00000000"+ obj.receta.id).slice(-9)}}</td>
                        <td>{{obj.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                        <td>{{obj.receta.nombreDoctor}}</td>
                        <td>{{("00000000"+ obj.items[0].idPersonal).slice(-9)}}</td>
                        <td width="10%"><button data-ripple style="background-color:inherit;border: none;" ng-click="select(obj)" data-toggle="modal" data-target="#recetaModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Modal Item receta-->
    <div id="recetaModal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"># receta  {{("00000000"+ receta.receta.id).slice(-9)}}  -  {{receta.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}}</h5>
                </div>
                <div class="panel-body" style=" padding-top: 5px;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Compuesto</th>
                                <th>Cantidad Recetada</th>
                                <th>Cantidad Despachada</th>
                                <th>Comentario</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in receta.items">
                                <td>{{item.nombreItem}}</td>
                                <td>{{item.compuesto}}</td>
                                <td>{{item.cantidadRecetada}}</td>
                                <td>{{item.cantidadDespachada}}</td>
                                <td>{{item.comentario}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center ">
                    <button data-ripple type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div><!-- /.form-group -->
            </div>
        </div>
    </div>
</div>