<style>
    #despachar-transferencias-panel, #despachar-transferencias-form, #despachar-transferencias-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="despachar-transferencias-panel">
    <div class="panel panel-default-light border-default" id="despachar-transferencias-table">
        <div class="panel-body" style=" padding-top:5px;overflow-y:auto;max-height:60vh">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>N&uacute;mero</th>
                        <th>Fecha</th>
                        <th>Nombre</th>
                        <th>Compuesto</th>
                        <th>Cantidad</th>
                        <th>Ver información</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="t in transferencias | orderBy:'fecha'">
                        <td>{{t.id}}</td>
                        <td>{{t.fecha}}</td>
                        <td>{{t.nombre}}</td>
                        <td>{{t.compuesto}}</td>
                        <td>{{t.cantidad}}</td>
                        <td width="10%"><button ng-click="ver(t)" data-ripple style="background-color:inherit;border:none;" data-toggle="modal" data-target="#ver_transferencia"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="ver_transferencia" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Datos de la transferencia</h5>
                </div>
                <div class="panel-body" style=" padding-top: 5px;">
                    <table class="table table-striped" style="text-align:center;">

                        <tbody style="text-align:left;">
                            <tr>
                                <td>Número: </td>
                                <td>{{transferencia.id}}</td>
                            </tr>
                            <tr>
                                <td>Nombre: </td>
                                <td>{{transferencia.nombre}}</td>
                            </tr>
                            <tr>
                                <td>Compuesto: </td>
                                <td>{{transferencia.compuesto}}</td>
                            </tr>
                            <tr>
                                <td>Cantidad: </td>
                                <td> <label style="width:20%">{{transferencia.cantidad}}</label> <button title="Cambiar cantidad a despachar" style="background-color:inherit;border:none;" onclick="foo()"><span class="glyphicon glyphicon-pencil"></span></button> <input id="input2" ng-model="nuevaCantidad" style="float:right" type="number" min="1" disabled /></td>
                            </tr>
                            <tr>
                                <td>Comentario: </td>
                                <td><input ng-model="comentario" pattern=".{0,50}" title="Ingrese un comentario de maximo 50 caracteres" type="text" style="width:100%;" /></td>
                            </tr>
                            <tr>
                                <td>Solicitante: </td>
                                <td>{{transferencia.solicitante}}</td>
                            </tr>
                            <tr>
                                <td>Fecha: </td>
                                <td>{{transferencia.fecha}}</td>
                            </tr>
                            <tr>
                                <td>Destino: </td>
                                <td>{{transferencia.destino}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="text-center" style="margin-bottom: 5px;">
                    <button ng-click="guardarEgreso(nuevaCantidad, comentario)" data-ripple type="submit" class="btn btn-info">Despachar</button>
                    <button data-ripple type="button" class="btn btn-default">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function foo() {
            var a = document.getElementById("input2");
            if (a.disabled === true) {
                a.disabled = false;
            } else {
                a.disabled = true;
            }            
        }
    </script>

</div>