<div class="content">
    <style>
        .panel-default-light > .panel-heading:after, .panel-primary-light > .panel-heading:after, .panel-success-light > .panel-heading:after,
        .panel-info-light > .panel-heading:after, .panel-warning-light > .panel-heading:after, .panel-danger-light > .panel-heading:after,
        .panel-inverse-light > .panel-heading:after {
            height: 0px;
        }
    </style>
    <div class="panel panel-default-light border-default">
        <div class="panel-heading" style="border-bottom-color: #901F61;color:#901F61;">
            <div class="panel-title">
                Recetas médicas pendientes de despacho
            </div><!-- /.panel-title -->
        </div><!-- /.panel-heading -->
        <div class="panel-body" style="padding:25px 20px 10px 20px;">

            <div class="panel panel-default-light border-default" style="padding:0px">
                <div class="panel-heading">
                    <div style="text-align:right">
                        <input type="text" ng-model="buscar.receta.idApadrinado" placeholder="buscar por apadrinado" class="form-control">
                    </div>
                </div>
                <div class="panel-body" style=" padding-top:5px;overflow-y:auto;max-height:60vh">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Numero</th>
                                <th>Fecha</th>
                                <th>Doctor</th>
                                <th>Apadrinado</th>
                                <th>Ver items</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="obj in recetas | filter:buscar">
                                <td>{{obj.receta.id}}</td>
                                <td>{{obj.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                <td>{{obj.receta.idDoctor}}</td>
                                <td>{{obj.receta.idApadrinado}}</td>
                                <td width="10%"><button ng-click="select(obj, $index)" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-zoom-in"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Modal Item receta-->
            <div id="myModal" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Receta Nro 000000{{receta.receta.id}} - {{receta.receta.fecha | date: 'dd/MM/yyyy - HH:mm'}} - {{receta.receta.idApadrinado}}</h5>
                        </div>
                        <div class="panel-body" style=" padding-top: 5px;">

                            <table class="table table-striped" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Despachado</th>
                                        <th>Item</th>
                                        <th>Compuesto</th>
                                        <th>Cantidad</th>
                                        <th>Nueva cantidad</th>
                                        <th>Comentario</th>
                                        <th>Editar cantidad</th>
                                        <th>Despachar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in receta.items">
                                        <td style="padding-top: 15px" ng-class="item.class"></td>
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.compuesto}}</td>
                                        <td>{{item.cantidad}}</td>
                                        <td><input type="number" ng-disabled="item.disable" ng-model="item.nuevaCantidad" style="width:100px;" class="form-control"/></td>
                                        <td><textarea class="form-control" ng-disabled="item.disable" ng-model="item.comentario" rows="1" cols="10" maxlength="100" style="resize: none;"></textarea></td>
                                        <td><button class="glyphicon glyphicon-ok" ng-disabled="item.disable" ></button></td>
                                        <td ><button class="glyphicon glyphicon-ok" ng-disabled="item.disable" ng-click="despachar(item)"></button></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div><!--  -->
                        <div class="text-center ">
                            <button type="submit" ng-click="guardarDespacho(receta, recetas, index)" data-dismiss="modal" class="btn btn-info">Guardar Egreso de Farmacia</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div><!-- /.form-group -->
                    </div>
                </div>

            </div>
            <!--Aqui Termina el modal para el item de receta-->

        </div><!-- /.tab-pane 3 -->

    </div>
    </div>
