<style>
    #ingresar-transferencias-panel, #ingresar-tranferencias-form, #ingresar-transferencias-table {
        padding: 0px 0px 0px 0px;
    }
</style>
<div class="panel-body" id="ingresar-transferencias-panel">

    <div class="panel panel-default-light border-default col-sm-12" id="ingresar-transferencias-table">
        <form class="form-horizontal" ng-submit="crear(compuesto.nombre, item, fecha, cantidad)" style="margin-top:10px;">
            <!--"m-bottom-30" para poner margen vertical de 30px-->
            <div class="form-group">
                <label class="control-label col-sm-2" style="text-align:left;width:20%; padding-right:0px;margin-left:10px;">Compuesto<a style="color:red;">(*)</a></label>
                <div class="col-sm-6" style="padding-left:initial">
                    <select class="form-control myselect" ng-model="compuesto" ng-options="compuesto as compuesto.nombre for compuesto in compuestos">
                        <option style="display:none;" selected disabled value="">Digite y Seleccione el tipo Compuesto</option>
                    </select>
                </div>
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="control-label col-sm-2" style="text-align:left;width:20%; padding-right:0px;margin-left:10px;">Nombre de item<a style="color:red;">(*)</a></label>
                <div class="col-sm-6" style="padding-left:initial">
                    <input ng-model="item" class="form-control" type="text" placeholder="Ingresar la cantidad">
                </div>
            </div><!-- /.form-group -->

            <div class="form-group">
                <label class="control-label col-sm-2" style="text-align:left;width:20%; padding-right:0px;margin-left:10px;">Fecha de caducidad</label>
                <div class="col-sm-6" style="padding-left:initial">
                    <input ng-model="fecha" required type="date" class="form-control">
                </div>
            </div><!-- /.form-group -->
            <div class="form-group">
                <label class="control-label col-sm-2" style="text-align:left;width:20%; padding-right:0px;margin-left:10px;">Cantidad<a style="color:red;">(*)</a></label>
                <div class="col-sm-6" style="padding-left:initial">
                    <input ng-model="cantidad" class="form-control" type="number" placeholder="Ingresar la cantidad" min="1" max="1000">
                </div>
            </div><!-- /.form-group -->
            <div>
                <a style="color:red;margin-left: 10px;">(*) campo obligatorio.</a>
            </div>
            <div class="text-center">
                <button data-ripple type="submit" class="btn btn-info">Aceptar</button>
                <button data-ripple type="reset" class="btn btn-default">Cancelar</button>
            </div><!-- /.form-group -->
        </form>

        <script type="text/javascript">
            $(".myselect").select2();
        </script>
    </div>
</div>